In [1]:
#2021-2023 #24=CASA DE CAMPO

In [2]:
import numpy as np
import pandas as pd

In [3]:
meteorologia_21=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/METEOROLOGIA/meteo21.csv",delimiter=";")
meteorologia_21.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANO', 'MES', 'D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04',
       'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 'D08', 'V08', 'D09', 'V09',
       'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
       'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19',
       'D20', 'V20', 'D21', 'V21', 'D22', 'V22', 'D23', 'V23', 'D24', 'V24',
       'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 'D29', 'V29',
       'D30', 'V30', 'D31', 'V31'],
      dtype='object')

In [4]:
meteorologia_21.describe()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
count,1052.0,1052.0,1052.000000,1052.000000,1052.0,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,...,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000
mean,28.0,79.0,76.541825,84.864068,2021.0,6.437262,123.258099,123.442253,127.811226,127.297956,...,123.238137,120.837405,124.455323,120.781008,123.207205,121.804249,125.754411,114.064952,119.364363,71.076274
std,0.0,0.0,34.494820,2.629982,0.0,3.494574,257.584139,259.095629,259.214916,260.920122,...,258.634676,258.643017,258.146220,257.312167,256.748929,256.698683,257.979879,250.089145,274.887485,202.940334
min,28.0,79.0,4.000000,81.000000,2021.0,1.000000,0.000000,-0.600000,-1.700000,-0.800000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.0,79.0,54.000000,83.000000,2021.0,3.000000,3.575000,2.320000,2.790000,1.990000,...,5.450000,3.900000,3.500000,4.350000,2.115000,2.112500,2.097500,0.817500,1.305000,0.000000
50%,28.0,79.0,102.000000,86.000000,2021.0,6.000000,21.550000,22.100000,26.400000,25.850000,...,25.000000,23.050000,24.800000,24.900000,23.850000,24.750000,26.150000,21.600000,24.850000,0.865000
75%,28.0,79.0,107.000000,87.000000,2021.0,10.000000,73.000000,76.000000,77.000000,77.250000,...,78.250000,73.250000,80.000000,74.000000,79.000000,79.000000,81.250000,70.000000,74.250000,39.250000
max,28.0,79.0,115.000000,89.000000,2021.0,12.000000,954.000000,957.000000,958.000000,956.000000,...,953.000000,961.000000,961.000000,958.000000,958.000000,956.000000,958.000000,958.000000,3785.000000,959.000000

In [5]:
meteorologia_21=meteorologia_21.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO"],axis=1)

In [6]:
meteorologia_21=meteorologia_21[meteorologia_21["ESTACION"]==24]

In [7]:
meteorologia_21=meteorologia_21.drop(['V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [8]:
meteorologia_21=meteorologia_21.drop(["ESTACION"],axis=1)

In [9]:
meteorologia_21

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
621,81,2021,1,1.80,1.47,1.58,1.45,0.88,0.75,0.91,...,4.09,4.31,3.31,3.93,1.66,1.11,0.72,0.93,3.48,3.35
622,81,2021,2,3.19,2.32,1.43,1.45,1.60,1.39,2.61,...,1.76,1.13,1.62,1.30,0.84,0.82,2.27,0.00,0.00,0.00
623,81,2021,3,1.62,1.27,0.69,0.69,1.04,1.22,1.05,...,0.99,0.97,1.27,1.48,2.12,1.30,1.73,2.29,2.30,2.11
624,81,2021,4,1.85,1.43,1.00,1.14,1.10,1.37,1.88,...,1.06,2.64,2.57,1.25,1.29,1.30,2.18,3.46,1.83,0.00
625,81,2021,5,1.24,1.27,1.77,1.32,1.52,1.89,1.68,...,1.95,1.82,1.61,1.49,1.95,1.36,1.54,1.15,2.13,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,89,2021,8,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
700,89,2021,9,15.60,0.80,0.00,0.00,0.00,0.00,0.00,...,0.80,4.20,7.10,0.90,0.00,0.00,0.00,0.00,0.00,0.00
701,89,2021,10,0.00,0.00,8.40,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,15.80,29.30,23.00
702,89,2021,11,8.20,6.40,0.10,0.00,0.10,0.00,0.00,...,11.00,0.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
703,89,2021,12,2.60,0.00,0.00,0.00,0.00,0.00,0.00,...,0.10,2.50,2.50,6.40,7.40,0.20,0.00,0.10,0.00,0.00

In [10]:
meteorologia_22=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/METEOROLOGIA/meteo22.csv",delimiter=";")

In [11]:
meteorologia_22=meteorologia_22.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [12]:
meteorologia_22=meteorologia_22[meteorologia_22["ESTACION"]==24]

In [13]:
meteorologia_22=meteorologia_22.drop("ESTACION",axis=1)

In [14]:
meteorologia_22

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
489,81,2022,1,0.54,0.63,0.78,1.69,1.79,0.83,0.9,...,0.71,0.71,0.85,0.98,0.92,0.81,0.81,0.76,0.70,1.02
490,81,2022,2,2.09,0.79,0.89,0.73,1.45,0.87,0.9,...,1.03,0.72,0.73,1.06,1.40,1.02,1.03,0.00,0.00,0.00
491,81,2022,3,1.23,1.82,0.78,1.45,0.89,1.41,1.5,...,3.01,1.64,1.49,1.43,1.00,1.18,1.29,1.17,0.85,1.62
492,81,2022,4,1.45,1.42,1.87,2.15,1.53,1.89,2.5,...,2.57,3.43,1.55,1.01,1.12,1.06,1.08,1.15,0.96,0.00
493,81,2022,5,1.64,1.00,2.05,2.11,1.13,1.09,1.4,...,2.53,2.02,1.56,1.63,1.80,1.34,1.30,1.99,3.27,1.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,89,2022,8,0.00,4.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,3.80,0.00,0.00,0.00,1.10,0.00,0.00
569,89,2022,9,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.20,0.00,0.00
570,89,2022,10,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,6.10,0.70,0.10,0.00,0.00,0.00,0.00,0.00,0.00,0.80
571,89,2022,11,0.00,0.00,1.10,0.00,0.00,0.00,0.0,...,1.40,0.10,4.30,0.20,0.00,0.60,3.50,0.00,0.00,0.00
572,89,2022,12,0.00,0.00,1.90,0.70,11.80,0.10,0.0,...,0.00,1.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [15]:
meteorologia_23=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/METEOROLOGIA/meteo23.csv",delimiter=";")

In [16]:
meteorologia_23

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2023,1,1.39,V,1.03,...,2.76,V,2.05,V,2.31,V,1.17,V,0.73,V
1,28,79,102,81,28079102_81_98,2023,2,1.69,V,1.38,...,3.33,V,2.06,V,0.00,N,0.00,N,0.00,N
2,28,79,102,81,28079102_81_98,2023,3,1.51,V,1.18,...,1.49,V,1.43,V,1.67,V,3.19,V,3.35,V
3,28,79,102,81,28079102_81_98,2023,4,3.94,V,2.17,...,1.53,V,1.68,V,1.72,V,2.41,V,0.00,N
4,28,79,102,81,28079102_81_98,2023,5,2.26,V,1.66,...,2.14,V,1.12,V,1.32,V,1.62,V,1.37,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,28,79,59,89,28079059_89_98,2023,6,9.20,V,3.80,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,N
934,28,79,59,89,28079059_89_98,2023,7,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V
935,28,79,59,89,28079059_89_98,2023,8,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V
936,28,79,59,89,28079059_89_98,2023,9,0.00,V,6.85,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,N
937,28,79,59,89,28079059_89_98,2023,10,0.00,V,0.00,...,0.00,V,0.00,V,1.80,V,3.00,V,0.00,V

In [17]:
meteorologia_23=meteorologia_23[meteorologia_23["ESTACION"]==24]

In [18]:
meteorologia_23=meteorologia_23.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [19]:
meteorologia_23

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
570,24,81,2023,1,0.76,0.95,0.71,0.58,0.68,0.76,...,1.20,1.08,1.06,1.11,0.98,1.56,1.17,1.14,0.80,0.75
571,24,81,2023,2,0.88,0.65,0.66,0.70,0.84,1.71,...,0.98,2.01,0.97,1.10,0.98,1.36,1.14,0.00,0.00,0.00
572,24,81,2023,3,0.90,0.90,1.05,0.84,0.76,1.99,...,1.44,1.83,1.88,1.88,2.08,1.04,0.90,1.26,2.66,2.91
573,24,81,2023,4,2.36,1.23,1.02,2.00,1.16,0.96,...,2.05,1.86,1.68,1.51,1.73,1.30,1.18,1.37,1.23,0.00
574,24,81,2023,5,1.12,0.99,1.61,3.06,1.55,1.74,...,1.63,2.15,1.51,1.46,1.83,1.39,1.01,1.23,1.14,1.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,24,89,2023,6,2.20,2.90,11.20,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
636,24,89,2023,7,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
637,24,89,2023,8,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
638,24,89,2023,9,0.00,11.40,22.40,46.10,0.00,5.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
639,24,89,2023,10,0.00,0.00,0.00,0.00,0.00,0.00,...,13.20,3.95,0.80,0.00,1.65,0.05,0.00,1.40,2.45,0.00

In [20]:
meteorologia_23

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
570,24,81,2023,1,0.76,0.95,0.71,0.58,0.68,0.76,...,1.20,1.08,1.06,1.11,0.98,1.56,1.17,1.14,0.80,0.75
571,24,81,2023,2,0.88,0.65,0.66,0.70,0.84,1.71,...,0.98,2.01,0.97,1.10,0.98,1.36,1.14,0.00,0.00,0.00
572,24,81,2023,3,0.90,0.90,1.05,0.84,0.76,1.99,...,1.44,1.83,1.88,1.88,2.08,1.04,0.90,1.26,2.66,2.91
573,24,81,2023,4,2.36,1.23,1.02,2.00,1.16,0.96,...,2.05,1.86,1.68,1.51,1.73,1.30,1.18,1.37,1.23,0.00
574,24,81,2023,5,1.12,0.99,1.61,3.06,1.55,1.74,...,1.63,2.15,1.51,1.46,1.83,1.39,1.01,1.23,1.14,1.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,24,89,2023,6,2.20,2.90,11.20,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
636,24,89,2023,7,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
637,24,89,2023,8,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
638,24,89,2023,9,0.00,11.40,22.40,46.10,0.00,5.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
639,24,89,2023,10,0.00,0.00,0.00,0.00,0.00,0.00,...,13.20,3.95,0.80,0.00,1.65,0.05,0.00,1.40,2.45,0.00

In [21]:
meteorologia=pd.concat([meteorologia_21,meteorologia_22,meteorologia_23], ignore_index=True)

In [22]:
meteorologia=meteorologia.drop("ESTACION",axis=1)

In [23]:
meteorologia

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,81,2021,1,1.80,1.47,1.58,1.45,0.88,0.75,0.91,...,4.09,4.31,3.31,3.93,1.66,1.11,0.72,0.93,3.48,3.35
1,81,2021,2,3.19,2.32,1.43,1.45,1.60,1.39,2.61,...,1.76,1.13,1.62,1.30,0.84,0.82,2.27,0.00,0.00,0.00
2,81,2021,3,1.62,1.27,0.69,0.69,1.04,1.22,1.05,...,0.99,0.97,1.27,1.48,2.12,1.30,1.73,2.29,2.30,2.11
3,81,2021,4,1.85,1.43,1.00,1.14,1.10,1.37,1.88,...,1.06,2.64,2.57,1.25,1.29,1.30,2.18,3.46,1.83,0.00
4,81,2021,5,1.24,1.27,1.77,1.32,1.52,1.89,1.68,...,1.95,1.82,1.61,1.49,1.95,1.36,1.54,1.15,2.13,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,89,2023,6,2.20,2.90,11.20,0.00,0.00,0.00,8.60,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
233,89,2023,7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
234,89,2023,8,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
235,89,2023,9,0.00,11.40,22.40,46.10,0.00,5.50,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
236,89,2023,10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,13.20,3.95,0.80,0.00,1.65,0.05,0.00,1.40,2.45,0.00

In [24]:
calidad21=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202112.csv",delimiter=";")

In [25]:
calidad22=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202212.csv",delimiter=";")

In [26]:
calidad23=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202309.csv",delimiter=";")

In [27]:
#magnitud 8 en dataset_calidad es No2 y la estaciÃ³n escogida es la 24 igual que en meteorogia Casa_Campo

In [28]:
calidad21=calidad21[(calidad21["MAGNITUD"]==8) & (calidad21["ESTACION"]==24)]

In [29]:
calidad21=calidad21.drop(["PROVINCIA","ESTACION","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [30]:
calidad21

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
477,8,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,...,5.0,4.0,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0
478,8,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,...,11.0,28.0,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0
479,8,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,...,30.0,27.0,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0
480,8,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,...,11.0,11.0,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0
481,8,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,...,3.0,6.0,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0
482,8,2021,6,9.0,12.0,9.0,10.0,9.0,12.0,12.0,...,11.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
483,8,2021,7,3.0,15.0,5.0,3.0,6.0,7.0,8.0,...,19.0,13.0,4.0,5.0,15.0,14.0,12.0,13.0,7.0,4.0
484,8,2021,8,4.0,10.0,12.0,3.0,7.0,6.0,2.0,...,12.0,14.0,11.0,12.0,16.0,24.0,8.0,7.0,5.0,14.0
485,8,2021,9,16.0,19.0,16.0,19.0,23.0,28.0,18.0,...,12.0,10.0,17.0,12.0,10.0,31.0,26.0,19.0,24.0,0.0
486,8,2021,10,26.0,20.0,5.0,12.0,10.0,25.0,36.0,...,9.0,20.0,32.0,54.0,33.0,44.0,40.0,21.0,7.0,3.0
487,8,2021,11,3.0,7.0,5.0,24.0,18.0,15.0,33.0,...,26.0,32.0,18.0,29.0,36.0,5.0,2.0,8.0,39.0,0.0
488,8,2021,12,22.0,11.0,20.0,13.0,2.0,5.0,19.0,...,33.0,38.0,24.0,16.0,11.0,4.0,5.0,28.0,36.0,35.0

In [31]:
calidad22=calidad22[(calidad22["MAGNITUD"]==8) & (calidad22["ESTACION"]==24)]

In [32]:
calidad22=calidad22.drop(["PROVINCIA","ESTACION","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [33]:
calidad22

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
450,8,2022,1,32.0,38.0,38.0,21.0,6.0,23.0,24.0,...,24.0,28.0,32.0,31.0,37.0,39.0,43.0,38.0,43.0,51.0
451,8,2022,2,11.0,37.0,41.0,41.0,19.0,20.0,39.0,...,26.0,38.0,46.0,23.0,18.0,14.0,26.0,0.0,0.0,0.0
452,8,2022,3,28.0,9.0,30.0,10.0,15.0,9.0,16.0,...,12.0,15.0,21.0,15.0,10.0,12.0,15.0,15.0,16.0,7.0
453,8,2022,4,6.0,5.0,6.0,10.0,14.0,9.0,10.0,...,12.0,2.0,5.0,14.0,18.0,13.0,20.0,11.0,23.0,0.0
454,8,2022,5,10.0,8.0,8.0,7.0,10.0,9.0,7.0,...,7.0,4.0,6.0,5.0,6.0,11.0,10.0,9.0,3.0,13.0
455,8,2022,6,6.0,6.0,7.0,8.0,4.0,10.0,9.0,...,3.0,4.0,4.0,3.0,3.0,5.0,10.0,8.0,5.0,0.0
456,8,2022,7,10.0,8.0,6.0,9.0,13.0,11.0,8.0,...,15.0,12.0,11.0,6.0,11.0,8.0,9.0,13.0,10.0,22.0
457,8,2022,8,14.0,12.0,19.0,17.0,13.0,9.0,9.0,...,9.0,10.0,17.0,13.0,7.0,10.0,8.0,11.0,15.0,8.0
458,8,2022,9,13.0,7.0,5.0,6.0,13.0,6.0,7.0,...,23.0,14.0,12.0,5.0,8.0,19.0,14.0,7.0,14.0,0.0
459,8,2022,10,24.0,26.0,34.0,41.0,35.0,30.0,26.0,...,12.0,9.0,19.0,24.0,44.0,34.0,38.0,26.0,22.0,22.0
460,8,2022,11,22.0,26.0,19.0,16.0,31.0,27.0,36.0,...,6.0,5.0,14.0,14.0,36.0,31.0,6.0,37.0,40.0,0.0
461,8,2022,12,27.0,28.0,35.0,35.0,40.0,25.0,30.0,...,5.0,17.0,18.0,20.0,26.0,35.0,22.0,9.0,11.0,32.0

In [34]:
calidad23=calidad23[(calidad23["MAGNITUD"]==8) & (calidad23["ESTACION"]==24)]

In [35]:
calidad23=calidad23.drop(["PROVINCIA","ESTACION","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [36]:
calidad=pd.concat([calidad21,calidad22,calidad23])

In [37]:
calidad.reset_index(drop=True)

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,8,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,...,5.0,4.0,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0
1,8,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,...,11.0,28.0,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0
2,8,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,...,30.0,27.0,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0
3,8,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,...,11.0,11.0,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0
4,8,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,...,3.0,6.0,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0
5,8,2021,6,9.0,12.0,9.0,10.0,9.0,12.0,12.0,...,11.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,8,2021,7,3.0,15.0,5.0,3.0,6.0,7.0,8.0,...,19.0,13.0,4.0,5.0,15.0,14.0,12.0,13.0,7.0,4.0
7,8,2021,8,4.0,10.0,12.0,3.0,7.0,6.0,2.0,...,12.0,14.0,11.0,12.0,16.0,24.0,8.0,7.0,5.0,14.0
8,8,2021,9,16.0,19.0,16.0,19.0,23.0,28.0,18.0,...,12.0,10.0,17.0,12.0,10.0,31.0,26.0,19.0,24.0,0.0
9,8,2021,10,26.0,20.0,5.0,12.0,10.0,25.0,36.0,...,9.0,20.0,32.0,54.0,33.0,44.0,40.0,21.0,7.0,3.0
10,8,2021,11,3.0,7.0,5.0,24.0,18.0,15.0,33.0,...,26.0,32.0,18.0,29.0,36.0,5.0,2.0,8.0,39.0,0.0
11,8,2021,12,22.0,11.0,20.0,13.0,2.0,5.0,19.0,...,33.0,38.0,24.0,16.0,11.0,4.0,5.0,28.0,36.0,35.0
12,8,2022,1,32.0,38.0,38.0,21.0,6.0,23.0,24.0,...,24.0,28.0,32.0,31.0,37.0,39.0,43.0,38.0,43.0,51.0
13,8,2022,2,11.0,37.0,41.0,41.0,19.0,20.0,39.0,...,26.0,38.0,46.0,23.0,18.0,14.0,26.0,0.0,0.0,0.0
14,8,2022,3,28.0,9.0,30.0,10.0,15.0,9.0,16.0,...,12.0,15.0,21.0,15.0,10.0,12.0,15.0,15.0,16.0,7.0
15,8,2022,4,6.0,5.0,6.0,10.0,14.0,9.0,10.0,...,12.0,2.0,5.0,14.0,18.0,13.0,20.0,11.0,23.0,0.0
16,8,2022,5,10.0,8.0,8.0,7.0,10.0,9.0,7.0,...,7.0,4.0,6.0,5.0,6.0,11.0,10.0,9.0,3.0,13.0
17,8,2022,6,6.0,6.0,7.0,8.0,4.0,10.0,9.0,...,3.0,4.0,4.0,3.0,3.0,5.0,10.0,8.0,5.0,0.0
18,8,2022,7,10.0,8.0,6.0,9.0,13.0,11.0,8.0,...,15.0,12.0,11.0,6.0,11.0,8.0,9.0,13.0,10.0,22.0
19,8,2022,8,14.0,12.0,19.0,17.0,13.0,9.0,9.0,...,9.0,10.0,17.0,13.0,7.0,10.0,8.0,11.0,15.0,8.0
20,8,2022,9,13.0,7.0,5.0,6.0,13.0,6.0,7.0,...,23.0,14.0,12.0,5.0,8.0,19.0,14.0,7.0,14.0,0.0
21,8,2022,10,24.0,26.0,34.0,41.0,35.0,30.0,26.0,...,12.0,9.0,19.0,24.0,44.0,34.0,38.0,26.0,22.0,22.0
22,8,2022,11,22.0,26.0,19.0,16.0,31.0,27.0,36.0,...,6.0,5.0,14.0,14.0,36.0,31.0,6.0,37.0,40.0,0.0
23,8,2022,12,27.0,28.0,35.0,35.0,40.0,25.0,30.0,...,5.0,17.0,18.0,20.0,26.0,35.0,22.0,9.0,11.0,32.0
24,8,2023,1,27.0,24.0,31.0,35.0,40.0,33.0,27.0,...,9.0,28.0,19.0,19.0,24.0,16.0,11.0,13.0,24.0,48.0
25,8,2023,2,40.0,40.0,42.0,41.0,29.0,19.0,19.0,...,19.0,8.0,22.0,21.0,15.0,6.0,18.0,0.0,0.0,0.0
26,8,2023,3,21.0,24.0,27.0,18.0,31.0,8.0,5.0,...,21.0,14.0,8.0,8.0,6.0,16.0,30.0,31.0,21.0,6.0
27,8,2023,4,3.0,7.0,17.0,12.0,16.0,15.0,10.0,...,5.0,8.0,9.0,9.0,14.0,22.0,22.0,12.0,8.0,0.0
28,8,2023,5,6.0,9.0,20.0,4.0,15.0,14.0,6.0,...,13.0,9.0,11.0,17.0,11.0,10.0,7.0,18.0,16.0,12.0
29,8,2023,6,12.0,11.0,8.0,7.0,12.0,14.0,14.0,...,14.0,16.0,15.0,15.0,15.0,16.0,16.0,13.0,5.0,0.0
30,8,2023,7,6.0,6.0,10.0,9.0,10.0,10.0,10.0,...,8.0,11.0,7.0,6.0,12.0,15.0,8.0,10.0,7.0,10.0
31,8,2023,8,9.0,8.0,4.0,3.0,8.0,7.0,12.0,...,14.0,15.0,17.0,5.0,8.0,2.0,10.0,9.0,8.0,12.0
32,8,2023,9,19.0,29.0,13.0,15.0,21.0,18.0,20.0,...,6.0,16.0,18.0,31.0,33.0,26.0,27.0,23.0,20.0,0.0

In [38]:
calidad.columns

Index(['MAGNITUD', 'ANO', 'MES', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06',
       'D07', 'D08', 'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16',
       'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26',
       'D27', 'D28', 'D29', 'D30', 'D31'],
      dtype='object')

In [39]:
del calidad["MAGNITUD"]

In [40]:
calidad=calidad.reset_index(drop=True)

In [41]:
calidad

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,18.0,...,5.0,4.0,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0
1,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,4.0,...,11.0,28.0,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0
2,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,26.0,...,30.0,27.0,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0
3,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,15.0,...,11.0,11.0,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0
4,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,13.0,...,3.0,6.0,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0
5,2021,6,9.0,12.0,9.0,10.0,9.0,12.0,12.0,15.0,...,11.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2021,7,3.0,15.0,5.0,3.0,6.0,7.0,8.0,11.0,...,19.0,13.0,4.0,5.0,15.0,14.0,12.0,13.0,7.0,4.0
7,2021,8,4.0,10.0,12.0,3.0,7.0,6.0,2.0,4.0,...,12.0,14.0,11.0,12.0,16.0,24.0,8.0,7.0,5.0,14.0
8,2021,9,16.0,19.0,16.0,19.0,23.0,28.0,18.0,8.0,...,12.0,10.0,17.0,12.0,10.0,31.0,26.0,19.0,24.0,0.0
9,2021,10,26.0,20.0,5.0,12.0,10.0,25.0,36.0,40.0,...,9.0,20.0,32.0,54.0,33.0,44.0,40.0,21.0,7.0,3.0
10,2021,11,3.0,7.0,5.0,24.0,18.0,15.0,33.0,25.0,...,26.0,32.0,18.0,29.0,36.0,5.0,2.0,8.0,39.0,0.0
11,2021,12,22.0,11.0,20.0,13.0,2.0,5.0,19.0,2.0,...,33.0,38.0,24.0,16.0,11.0,4.0,5.0,28.0,36.0,35.0
12,2022,1,32.0,38.0,38.0,21.0,6.0,23.0,24.0,25.0,...,24.0,28.0,32.0,31.0,37.0,39.0,43.0,38.0,43.0,51.0
13,2022,2,11.0,37.0,41.0,41.0,19.0,20.0,39.0,29.0,...,26.0,38.0,46.0,23.0,18.0,14.0,26.0,0.0,0.0,0.0
14,2022,3,28.0,9.0,30.0,10.0,15.0,9.0,16.0,9.0,...,12.0,15.0,21.0,15.0,10.0,12.0,15.0,15.0,16.0,7.0
15,2022,4,6.0,5.0,6.0,10.0,14.0,9.0,10.0,4.0,...,12.0,2.0,5.0,14.0,18.0,13.0,20.0,11.0,23.0,0.0
16,2022,5,10.0,8.0,8.0,7.0,10.0,9.0,7.0,8.0,...,7.0,4.0,6.0,5.0,6.0,11.0,10.0,9.0,3.0,13.0
17,2022,6,6.0,6.0,7.0,8.0,4.0,10.0,9.0,3.0,...,3.0,4.0,4.0,3.0,3.0,5.0,10.0,8.0,5.0,0.0
18,2022,7,10.0,8.0,6.0,9.0,13.0,11.0,8.0,12.0,...,15.0,12.0,11.0,6.0,11.0,8.0,9.0,13.0,10.0,22.0
19,2022,8,14.0,12.0,19.0,17.0,13.0,9.0,9.0,14.0,...,9.0,10.0,17.0,13.0,7.0,10.0,8.0,11.0,15.0,8.0
20,2022,9,13.0,7.0,5.0,6.0,13.0,6.0,7.0,7.0,...,23.0,14.0,12.0,5.0,8.0,19.0,14.0,7.0,14.0,0.0
21,2022,10,24.0,26.0,34.0,41.0,35.0,30.0,26.0,22.0,...,12.0,9.0,19.0,24.0,44.0,34.0,38.0,26.0,22.0,22.0
22,2022,11,22.0,26.0,19.0,16.0,31.0,27.0,36.0,43.0,...,6.0,5.0,14.0,14.0,36.0,31.0,6.0,37.0,40.0,0.0
23,2022,12,27.0,28.0,35.0,35.0,40.0,25.0,30.0,24.0,...,5.0,17.0,18.0,20.0,26.0,35.0,22.0,9.0,11.0,32.0
24,2023,1,27.0,24.0,31.0,35.0,40.0,33.0,27.0,7.0,...,9.0,28.0,19.0,19.0,24.0,16.0,11.0,13.0,24.0,48.0
25,2023,2,40.0,40.0,42.0,41.0,29.0,19.0,19.0,15.0,...,19.0,8.0,22.0,21.0,15.0,6.0,18.0,0.0,0.0,0.0
26,2023,3,21.0,24.0,27.0,18.0,31.0,8.0,5.0,5.0,...,21.0,14.0,8.0,8.0,6.0,16.0,30.0,31.0,21.0,6.0
27,2023,4,3.0,7.0,17.0,12.0,16.0,15.0,10.0,14.0,...,5.0,8.0,9.0,9.0,14.0,22.0,22.0,12.0,8.0,0.0
28,2023,5,6.0,9.0,20.0,4.0,15.0,14.0,6.0,12.0,...,13.0,9.0,11.0,17.0,11.0,10.0,7.0,18.0,16.0,12.0
29,2023,6,12.0,11.0,8.0,7.0,12.0,14.0,14.0,12.0,...,14.0,16.0,15.0,15.0,15.0,16.0,16.0,13.0,5.0,0.0
30,2023,7,6.0,6.0,10.0,9.0,10.0,10.0,10.0,6.0,...,8.0,11.0,7.0,6.0,12.0,15.0,8.0,10.0,7.0,10.0
31,2023,8,9.0,8.0,4.0,3.0,8.0,7.0,12.0,19.0,...,14.0,15.0,17.0,5.0,8.0,2.0,10.0,9.0,8.0,12.0
32,2023,9,19.0,29.0,13.0,15.0,21.0,18.0,20.0,21.0,...,6.0,16.0,18.0,31.0,33.0,26.0,27.0,23.0,20.0,0.0

In [42]:
calidad1=calidad.copy()
calidad1["dia"]=1
calidad1["valor"]=calidad["D01"]

In [43]:
calidad1

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D24,D25,D26,D27,D28,D29,D30,D31,dia,valor
0,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,18.0,...,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0,1,3.0
1,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,4.0,...,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0,1,5.0
2,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,26.0,...,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0,1,24.0
3,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,15.0,...,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0,1,9.0
4,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,13.0,...,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0,1,7.0
5,2021,6,9.0,12.0,9.0,10.0,9.0,12.0,12.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,9.0
6,2021,7,3.0,15.0,5.0,3.0,6.0,7.0,8.0,11.0,...,4.0,5.0,15.0,14.0,12.0,13.0,7.0,4.0,1,3.0
7,2021,8,4.0,10.0,12.0,3.0,7.0,6.0,2.0,4.0,...,11.0,12.0,16.0,24.0,8.0,7.0,5.0,14.0,1,4.0
8,2021,9,16.0,19.0,16.0,19.0,23.0,28.0,18.0,8.0,...,17.0,12.0,10.0,31.0,26.0,19.0,24.0,0.0,1,16.0
9,2021,10,26.0,20.0,5.0,12.0,10.0,25.0,36.0,40.0,...,32.0,54.0,33.0,44.0,40.0,21.0,7.0,3.0,1,26.0
10,2021,11,3.0,7.0,5.0,24.0,18.0,15.0,33.0,25.0,...,18.0,29.0,36.0,5.0,2.0,8.0,39.0,0.0,1,3.0
11,2021,12,22.0,11.0,20.0,13.0,2.0,5.0,19.0,2.0,...,24.0,16.0,11.0,4.0,5.0,28.0,36.0,35.0,1,22.0
12,2022,1,32.0,38.0,38.0,21.0,6.0,23.0,24.0,25.0,...,32.0,31.0,37.0,39.0,43.0,38.0,43.0,51.0,1,32.0
13,2022,2,11.0,37.0,41.0,41.0,19.0,20.0,39.0,29.0,...,46.0,23.0,18.0,14.0,26.0,0.0,0.0,0.0,1,11.0
14,2022,3,28.0,9.0,30.0,10.0,15.0,9.0,16.0,9.0,...,21.0,15.0,10.0,12.0,15.0,15.0,16.0,7.0,1,28.0
15,2022,4,6.0,5.0,6.0,10.0,14.0,9.0,10.0,4.0,...,5.0,14.0,18.0,13.0,20.0,11.0,23.0,0.0,1,6.0
16,2022,5,10.0,8.0,8.0,7.0,10.0,9.0,7.0,8.0,...,6.0,5.0,6.0,11.0,10.0,9.0,3.0,13.0,1,10.0
17,2022,6,6.0,6.0,7.0,8.0,4.0,10.0,9.0,3.0,...,4.0,3.0,3.0,5.0,10.0,8.0,5.0,0.0,1,6.0
18,2022,7,10.0,8.0,6.0,9.0,13.0,11.0,8.0,12.0,...,11.0,6.0,11.0,8.0,9.0,13.0,10.0,22.0,1,10.0
19,2022,8,14.0,12.0,19.0,17.0,13.0,9.0,9.0,14.0,...,17.0,13.0,7.0,10.0,8.0,11.0,15.0,8.0,1,14.0
20,2022,9,13.0,7.0,5.0,6.0,13.0,6.0,7.0,7.0,...,12.0,5.0,8.0,19.0,14.0,7.0,14.0,0.0,1,13.0
21,2022,10,24.0,26.0,34.0,41.0,35.0,30.0,26.0,22.0,...,19.0,24.0,44.0,34.0,38.0,26.0,22.0,22.0,1,24.0
22,2022,11,22.0,26.0,19.0,16.0,31.0,27.0,36.0,43.0,...,14.0,14.0,36.0,31.0,6.0,37.0,40.0,0.0,1,22.0
23,2022,12,27.0,28.0,35.0,35.0,40.0,25.0,30.0,24.0,...,18.0,20.0,26.0,35.0,22.0,9.0,11.0,32.0,1,27.0
24,2023,1,27.0,24.0,31.0,35.0,40.0,33.0,27.0,7.0,...,19.0,19.0,24.0,16.0,11.0,13.0,24.0,48.0,1,27.0
25,2023,2,40.0,40.0,42.0,41.0,29.0,19.0,19.0,15.0,...,22.0,21.0,15.0,6.0,18.0,0.0,0.0,0.0,1,40.0
26,2023,3,21.0,24.0,27.0,18.0,31.0,8.0,5.0,5.0,...,8.0,8.0,6.0,16.0,30.0,31.0,21.0,6.0,1,21.0
27,2023,4,3.0,7.0,17.0,12.0,16.0,15.0,10.0,14.0,...,9.0,9.0,14.0,22.0,22.0,12.0,8.0,0.0,1,3.0
28,2023,5,6.0,9.0,20.0,4.0,15.0,14.0,6.0,12.0,...,11.0,17.0,11.0,10.0,7.0,18.0,16.0,12.0,1,6.0
29,2023,6,12.0,11.0,8.0,7.0,12.0,14.0,14.0,12.0,...,15.0,15.0,15.0,16.0,16.0,13.0,5.0,0.0,1,12.0
30,2023,7,6.0,6.0,10.0,9.0,10.0,10.0,10.0,6.0,...,7.0,6.0,12.0,15.0,8.0,10.0,7.0,10.0,1,6.0
31,2023,8,9.0,8.0,4.0,3.0,8.0,7.0,12.0,19.0,...,17.0,5.0,8.0,2.0,10.0,9.0,8.0,12.0,1,9.0
32,2023,9,19.0,29.0,13.0,15.0,21.0,18.0,20.0,21.0,...,18.0,31.0,33.0,26.0,27.0,23.0,20.0,0.0,1,19.0

In [44]:
calidad2=calidad.copy()
calidad2["dia"]=2
calidad2["valor"]=calidad["D02"]

In [45]:
calidad2

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D24,D25,D26,D27,D28,D29,D30,D31,dia,valor
0,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,18.0,...,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0,2,9.0
1,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,4.0,...,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0,2,9.0
2,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,26.0,...,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0,2,26.0
3,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,15.0,...,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0,2,6.0
4,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,13.0,...,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0,2,8.0
5,2021,6,9.0,12.0,9.0,10.0,9.0,12.0,12.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,12.0
6,2021,7,3.0,15.0,5.0,3.0,6.0,7.0,8.0,11.0,...,4.0,5.0,15.0,14.0,12.0,13.0,7.0,4.0,2,15.0
7,2021,8,4.0,10.0,12.0,3.0,7.0,6.0,2.0,4.0,...,11.0,12.0,16.0,24.0,8.0,7.0,5.0,14.0,2,10.0
8,2021,9,16.0,19.0,16.0,19.0,23.0,28.0,18.0,8.0,...,17.0,12.0,10.0,31.0,26.0,19.0,24.0,0.0,2,19.0
9,2021,10,26.0,20.0,5.0,12.0,10.0,25.0,36.0,40.0,...,32.0,54.0,33.0,44.0,40.0,21.0,7.0,3.0,2,20.0
10,2021,11,3.0,7.0,5.0,24.0,18.0,15.0,33.0,25.0,...,18.0,29.0,36.0,5.0,2.0,8.0,39.0,0.0,2,7.0
11,2021,12,22.0,11.0,20.0,13.0,2.0,5.0,19.0,2.0,...,24.0,16.0,11.0,4.0,5.0,28.0,36.0,35.0,2,11.0
12,2022,1,32.0,38.0,38.0,21.0,6.0,23.0,24.0,25.0,...,32.0,31.0,37.0,39.0,43.0,38.0,43.0,51.0,2,38.0
13,2022,2,11.0,37.0,41.0,41.0,19.0,20.0,39.0,29.0,...,46.0,23.0,18.0,14.0,26.0,0.0,0.0,0.0,2,37.0
14,2022,3,28.0,9.0,30.0,10.0,15.0,9.0,16.0,9.0,...,21.0,15.0,10.0,12.0,15.0,15.0,16.0,7.0,2,9.0
15,2022,4,6.0,5.0,6.0,10.0,14.0,9.0,10.0,4.0,...,5.0,14.0,18.0,13.0,20.0,11.0,23.0,0.0,2,5.0
16,2022,5,10.0,8.0,8.0,7.0,10.0,9.0,7.0,8.0,...,6.0,5.0,6.0,11.0,10.0,9.0,3.0,13.0,2,8.0
17,2022,6,6.0,6.0,7.0,8.0,4.0,10.0,9.0,3.0,...,4.0,3.0,3.0,5.0,10.0,8.0,5.0,0.0,2,6.0
18,2022,7,10.0,8.0,6.0,9.0,13.0,11.0,8.0,12.0,...,11.0,6.0,11.0,8.0,9.0,13.0,10.0,22.0,2,8.0
19,2022,8,14.0,12.0,19.0,17.0,13.0,9.0,9.0,14.0,...,17.0,13.0,7.0,10.0,8.0,11.0,15.0,8.0,2,12.0
20,2022,9,13.0,7.0,5.0,6.0,13.0,6.0,7.0,7.0,...,12.0,5.0,8.0,19.0,14.0,7.0,14.0,0.0,2,7.0
21,2022,10,24.0,26.0,34.0,41.0,35.0,30.0,26.0,22.0,...,19.0,24.0,44.0,34.0,38.0,26.0,22.0,22.0,2,26.0
22,2022,11,22.0,26.0,19.0,16.0,31.0,27.0,36.0,43.0,...,14.0,14.0,36.0,31.0,6.0,37.0,40.0,0.0,2,26.0
23,2022,12,27.0,28.0,35.0,35.0,40.0,25.0,30.0,24.0,...,18.0,20.0,26.0,35.0,22.0,9.0,11.0,32.0,2,28.0
24,2023,1,27.0,24.0,31.0,35.0,40.0,33.0,27.0,7.0,...,19.0,19.0,24.0,16.0,11.0,13.0,24.0,48.0,2,24.0
25,2023,2,40.0,40.0,42.0,41.0,29.0,19.0,19.0,15.0,...,22.0,21.0,15.0,6.0,18.0,0.0,0.0,0.0,2,40.0
26,2023,3,21.0,24.0,27.0,18.0,31.0,8.0,5.0,5.0,...,8.0,8.0,6.0,16.0,30.0,31.0,21.0,6.0,2,24.0
27,2023,4,3.0,7.0,17.0,12.0,16.0,15.0,10.0,14.0,...,9.0,9.0,14.0,22.0,22.0,12.0,8.0,0.0,2,7.0
28,2023,5,6.0,9.0,20.0,4.0,15.0,14.0,6.0,12.0,...,11.0,17.0,11.0,10.0,7.0,18.0,16.0,12.0,2,9.0
29,2023,6,12.0,11.0,8.0,7.0,12.0,14.0,14.0,12.0,...,15.0,15.0,15.0,16.0,16.0,13.0,5.0,0.0,2,11.0
30,2023,7,6.0,6.0,10.0,9.0,10.0,10.0,10.0,6.0,...,7.0,6.0,12.0,15.0,8.0,10.0,7.0,10.0,2,6.0
31,2023,8,9.0,8.0,4.0,3.0,8.0,7.0,12.0,19.0,...,17.0,5.0,8.0,2.0,10.0,9.0,8.0,12.0,2,8.0
32,2023,9,19.0,29.0,13.0,15.0,21.0,18.0,20.0,21.0,...,18.0,31.0,33.0,26.0,27.0,23.0,20.0,0.0,2,29.0

In [46]:
calidad3=calidad.copy()
calidad3["dia"]=3
calidad3["valor"]=calidad["D03"]

In [47]:
calidad4=calidad.copy()
calidad4["dia"]=4
calidad4["valor"]=calidad["D04"]

In [48]:
calidad5=calidad.copy()
calidad5["dia"]=5
calidad5["valor"]=calidad["D05"]

In [49]:
calidad6=calidad.copy()
calidad6["dia"]=6
calidad6["valor"]=calidad["D06"]

In [50]:
calidad7=calidad.copy()
calidad7["dia"]=7
calidad7["valor"]=calidad["D07"]

In [51]:
calidad8=calidad.copy()
calidad8["dia"]=8
calidad8["valor"]=calidad["D08"]

In [52]:
calidad9=calidad.copy()
calidad9["dia"]=9
calidad9["valor"]=calidad["D01"]

In [53]:
calidad10=calidad.copy()
calidad10["dia"]=10
calidad10["valor"]=calidad["D10"]

In [54]:
calidad11=calidad.copy()
calidad11["dia"]=11
calidad11["valor"]=calidad["D11"]

In [55]:
calidad12=calidad.copy()
calidad12["dia"]=12
calidad12["valor"]=calidad["D12"]

In [56]:
calidad13=calidad.copy()
calidad13["dia"]=13
calidad13["valor"]=calidad["D13"]

In [57]:
calidad14=calidad.copy()
calidad14["dia"]=14
calidad14["valor"]=calidad["D14"]

In [58]:
calidad14=calidad.copy()
calidad14["dia"]=14
calidad14["valor"]=calidad["D14"]

In [59]:
calidad15=calidad.copy()
calidad15["dia"]=15
calidad15["valor"]=calidad["D14"]

In [60]:
calidad16=calidad.copy()
calidad16["dia"]=16
calidad16["valor"]=calidad["D16"]

In [61]:
calidad17=calidad.copy()
calidad17["dia"]=17
calidad17["valor"]=calidad["D17"]

In [62]:
calidad18=calidad.copy()
calidad18["dia"]=18
calidad18["valor"]=calidad["D18"]

In [63]:
calidad19=calidad.copy()
calidad19["dia"]=19
calidad19["valor"]=calidad["D19"]

In [64]:
calidad20=calidad.copy()
calidad20["dia"]=20
calidad20["valor"]=calidad["D20"]

In [65]:
calidad21=calidad.copy()
calidad21["dia"]=21
calidad21["valor"]=calidad["D21"]

In [66]:
calidad22=calidad.copy()
calidad22["dia"]=22
calidad22["valor"]=calidad["D22"]

In [67]:
calidad23=calidad.copy()
calidad23["dia"]=23
calidad23["valor"]=calidad["D23"]

In [68]:
calidad24=calidad.copy()
calidad24["dia"]=24
calidad24["valor"]=calidad["D24"]

In [69]:
calidad25=calidad.copy()
calidad25["dia"]=25
calidad25["valor"]=calidad["D25"]

In [70]:
calidad26=calidad.copy()
calidad26["dia"]=26
calidad26["valor"]=calidad["D26"]

In [71]:
calidad27=calidad.copy()
calidad27["dia"]=27
calidad27["valor"]=calidad["D27"]

In [72]:
calidad28=calidad.copy()
calidad28["dia"]=28
calidad28["valor"]=calidad["D28"]

In [73]:
calidad29=calidad.copy()
calidad29["dia"]=29
calidad29["valor"]=calidad["D29"]

In [74]:
calidad30=calidad.copy()
calidad30["dia"]=30
calidad30["valor"]=calidad["D30"]

In [75]:
calidad31=calidad.copy()
calidad31["dia"]=31
calidad31["valor"]=calidad["D31"]

In [76]:
calidad_bueno=pd.concat([calidad1,calidad2,calidad3,calidad4,calidad5,calidad6,calidad7,calidad8,calidad9,calidad10,calidad11,calidad11,calidad12,calidad13,
                        calidad14,calidad15,calidad16,calidad17,calidad18,calidad19,calidad20,calidad21,calidad22,calidad22,calidad22,calidad24,calidad25,calidad26,
                         calidad27,calidad28,calidad29,calidad30,calidad31])

In [77]:
calidad.columns

Index(['ANO', 'MES', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18',
       'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28',
       'D29', 'D30', 'D31'],
      dtype='object')

In [78]:
calidad_bueno

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D24,D25,D26,D27,D28,D29,D30,D31,dia,valor
0,2021,1,3.0,9.0,21.0,12.0,37.0,32.0,25.0,18.0,...,4.0,4.0,7.0,13.0,13.0,11.0,2.0,3.0,1,3.0
1,2021,2,5.0,9.0,21.0,28.0,21.0,16.0,5.0,4.0,...,24.0,22.0,25.0,22.0,11.0,0.0,0.0,0.0,1,5.0
2,2021,3,24.0,26.0,33.0,38.0,26.0,17.0,17.0,26.0,...,31.0,24.0,17.0,18.0,11.0,17.0,18.0,13.0,1,24.0
3,2021,4,9.0,6.0,12.0,13.0,16.0,22.0,15.0,15.0,...,7.0,13.0,9.0,15.0,9.0,5.0,10.0,0.0,1,9.0
4,2021,5,7.0,8.0,7.0,11.0,14.0,14.0,13.0,13.0,...,4.0,10.0,9.0,17.0,16.0,10.0,5.0,10.0,1,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,2023,5,6.0,9.0,20.0,4.0,15.0,14.0,6.0,12.0,...,11.0,17.0,11.0,10.0,7.0,18.0,16.0,12.0,31,12.0
29,2023,6,12.0,11.0,8.0,7.0,12.0,14.0,14.0,12.0,...,15.0,15.0,15.0,16.0,16.0,13.0,5.0,0.0,31,0.0
30,2023,7,6.0,6.0,10.0,9.0,10.0,10.0,10.0,6.0,...,7.0,6.0,12.0,15.0,8.0,10.0,7.0,10.0,31,10.0
31,2023,8,9.0,8.0,4.0,3.0,8.0,7.0,12.0,19.0,...,17.0,5.0,8.0,2.0,10.0,9.0,8.0,12.0,31,12.0
32,2023,9,19.0,29.0,13.0,15.0,21.0,18.0,20.0,21.0,...,18.0,31.0,33.0,26.0,27.0,23.0,20.0,0.0,31,0.0

In [79]:
calidad_bueno.drop(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18',
       'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28',
       'D29', 'D30', 'D31'],axis=1,inplace=True)

In [80]:
calidad_bueno.columns = calidad_bueno.columns.str.replace('valor', 'Grados Â°C')

In [81]:
calidad_bueno.columns = calidad_bueno.columns.str.replace('dia', 'DIA')

In [82]:
calidad_bueno["ANO"]=calidad_bueno["ANO"].astype(str)
calidad_bueno["MES"]=calidad_bueno["MES"].astype(str)
calidad_bueno["DIA"]=calidad_bueno["DIA"].astype(str)

In [83]:
calidad_bueno["Fecha"]=calidad_bueno["ANO"]+"-"+calidad_bueno["MES"]+"-"+calidad_bueno["DIA"]

In [84]:
calidad_bueno

     ANO MES DIA  Grados Â°C      Fecha
0   2021   1   1        3.0   2021-1-1
1   2021   2   1        5.0   2021-2-1
2   2021   3   1       24.0   2021-3-1
3   2021   4   1        9.0   2021-4-1
4   2021   5   1        7.0   2021-5-1
..   ...  ..  ..        ...        ...
28  2023   5  31       12.0  2023-5-31
29  2023   6  31        0.0  2023-6-31
30  2023   7  31       10.0  2023-7-31
31  2023   8  31       12.0  2023-8-31
32  2023   9  31        0.0  2023-9-31

[1089 rows x 5 columns]

In [85]:
calidad_bueno

     ANO MES DIA  Grados Â°C      Fecha
0   2021   1   1        3.0   2021-1-1
1   2021   2   1        5.0   2021-2-1
2   2021   3   1       24.0   2021-3-1
3   2021   4   1        9.0   2021-4-1
4   2021   5   1        7.0   2021-5-1
..   ...  ..  ..        ...        ...
28  2023   5  31       12.0  2023-5-31
29  2023   6  31        0.0  2023-6-31
30  2023   7  31       10.0  2023-7-31
31  2023   8  31       12.0  2023-8-31
32  2023   9  31        0.0  2023-9-31

[1089 rows x 5 columns]

In [86]:
Festivo=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/calendario.csv",delimiter=";")
Festivo=Festivo.drop(["Tipo de Festivo","Festividad"],axis=1)

In [87]:
condicion1=Festivo["laborable / festivo / domingo festivo"]=="festivo"
condicion1

0        True
1       False
2       False
3       False
4       False
        ...
4011    False
4012    False
4013    False
4014    False
4015    False
Name: laborable / festivo / domingo festivo, Length: 4016, dtype: bool

In [88]:
condicion2=Festivo["laborable / festivo / domingo festivo"]=="Festivo"
condicion2

0       False
1       False
2       False
3       False
4       False
        ...
4011    False
4012    False
4013    False
4014    False
4015    False
Name: laborable / festivo / domingo festivo, Length: 4016, dtype: bool

In [89]:
Festivo=Festivo[condicion1|condicion2].copy()
Festivo.copy()

             Dia Dia_semana laborable / festivo / domingo festivo
0     01/01/2013     martes                               festivo
6     07/01/2013      lunes                               festivo
76    18/03/2013      lunes                               festivo
86    28/03/2013     jueves                               festivo
87    29/03/2013    viernes                               festivo
...          ...        ...                                   ...
3955  01/11/2023  miÃ©rcoles                               Festivo
3963  09/11/2023     jueves                               Festivo
3990  06/12/2023  miÃ©rcoles                               Festivo
3992  08/12/2023    viernes                               Festivo
4009  25/12/2023      lunes                               Festivo

[159 rows x 3 columns]

In [90]:
Festivo['Dia']=pd.to_datetime(Festivo['Dia'],format="%d/%m/%Y")

In [91]:
fecha_inicio = '2021-01-01'
fecha_fin = '2023-12-31'

In [92]:
Festivo=Festivo[(Festivo['Dia'] >= fecha_inicio) & (Festivo['Dia'] <= fecha_fin)]

In [93]:
Festivo["Fecha"]=Festivo["Dia"].astype(str).copy()

In [94]:
Festivo=Festivo.drop(["Dia_semana"],axis=1)

In [95]:
calidad_bueno=calidad_bueno.drop(["ANO","MES","DIA"],axis=1)

In [96]:
calidad_bueno

    Grados Â°C      Fecha
0         3.0   2021-1-1
1         5.0   2021-2-1
2        24.0   2021-3-1
3         9.0   2021-4-1
4         7.0   2021-5-1
..        ...        ...
28       12.0  2023-5-31
29        0.0  2023-6-31
30       10.0  2023-7-31
31       12.0  2023-8-31
32        0.0  2023-9-31

[1089 rows x 2 columns]

In [97]:
Festivo

            Dia laborable / festivo / domingo festivo       Fecha
2921 2021-01-01                               festivo  2021-01-01
2926 2021-01-06                               festivo  2021-01-06
2998 2021-03-19                               Festivo  2021-03-19
3011 2021-04-01                               Festivo  2021-04-01
3012 2021-04-02                               Festivo  2021-04-02
3041 2021-05-01                               Festivo  2021-05-01
3043 2021-05-03                               Festivo  2021-05-03
3055 2021-05-15                               Festivo  2021-05-15
3205 2021-10-12                               Festivo  2021-10-12
3225 2021-11-01                               Festivo  2021-11-01
3233 2021-11-09                               Festivo  2021-11-09
3260 2021-12-06                               Festivo  2021-12-06
3262 2021-12-08                               Festivo  2021-12-08
3279 2021-12-25                               Festivo  2021-12-25
3286 2022-01-01                               Festivo  2022-01-01
3291 2022-01-06                               Festivo  2022-01-06
3389 2022-04-14                               Festivo  2022-04-14
3390 2022-04-15                               Festivo  2022-04-15
3407 2022-05-02                               Festivo  2022-05-02
3421 2022-05-16                               Festivo  2022-05-16
3491 2022-07-25                               Festivo  2022-07-25
3512 2022-08-15                               Festivo  2022-08-15
3570 2022-10-12                               Festivo  2022-10-12
3590 2022-11-01                               Festivo  2022-11-01
3598 2022-11-09                               Festivo  2022-11-09
3625 2022-12-06                               Festivo  2022-12-06
3627 2022-12-08                               Festivo  2022-12-08
3645 2022-12-26                               Festivo  2022-12-26
3656 2023-01-06                               Festivo  2023-01-06
3729 2023-03-20                               Festivo  2023-03-20
3746 2023-04-06                               Festivo  2023-04-06
3747 2023-04-07                               Festivo  2023-04-07
3771 2023-05-01                               Festivo  2023-05-01
3772 2023-05-02                               Festivo  2023-05-02
3785 2023-05-15                               Festivo  2023-05-15
3877 2023-08-15                               Festivo  2023-08-15
3935 2023-10-12                               Festivo  2023-10-12
3955 2023-11-01                               Festivo  2023-11-01
3963 2023-11-09                               Festivo  2023-11-09
3990 2023-12-06                               Festivo  2023-12-06
3992 2023-12-08                               Festivo  2023-12-08
4009 2023-12-25                               Festivo  2023-12-25

In [98]:
Festivo['Fecha']=Festivo['Fecha'].str.replace('01','1')
Festivo['Fecha']=Festivo['Fecha'].str.replace('02','2')
Festivo['Fecha']=Festivo['Fecha'].str.replace('03','3')
Festivo['Fecha']=Festivo['Fecha'].str.replace('05','4')
Festivo['Fecha']=Festivo['Fecha'].str.replace('04','5')
Festivo['Fecha']=Festivo['Fecha'].str.replace('06','6')
Festivo['Fecha']=Festivo['Fecha'].str.replace('07','7')
Festivo['Fecha']=Festivo['Fecha'].str.replace('08','8')
Festivo['Fecha']=Festivo['Fecha'].str.replace('09','9')
Festivo['Fecha']=Festivo['Fecha'].str.replace('221','2021')
Festivo['Fecha']=Festivo['Fecha'].str.replace('222','2022')
Festivo['Fecha']=Festivo['Fecha'].str.replace('223','2023')

In [99]:
Festivo

            Dia laborable / festivo / domingo festivo       Fecha
2921 2021-01-01                               festivo    2021-1-1
2926 2021-01-06                               festivo    2021-1-6
2998 2021-03-19                               Festivo   2021-3-19
3011 2021-04-01                               Festivo    2021-5-1
3012 2021-04-02                               Festivo    2021-5-2
3041 2021-05-01                               Festivo    2021-4-1
3043 2021-05-03                               Festivo    2021-4-3
3055 2021-05-15                               Festivo   2021-4-15
3205 2021-10-12                               Festivo  2021-10-12
3225 2021-11-01                               Festivo   2021-11-1
3233 2021-11-09                               Festivo   2021-11-9
3260 2021-12-06                               Festivo   2021-12-6
3262 2021-12-08                               Festivo   2021-12-8
3279 2021-12-25                               Festivo  2021-12-25
3286 2022-01-01                               Festivo    2022-1-1
3291 2022-01-06                               Festivo    2022-1-6
3389 2022-04-14                               Festivo   2022-5-14
3390 2022-04-15                               Festivo   2022-5-15
3407 2022-05-02                               Festivo    2022-4-2
3421 2022-05-16                               Festivo   2022-4-16
3491 2022-07-25                               Festivo   2022-7-25
3512 2022-08-15                               Festivo   2022-8-15
3570 2022-10-12                               Festivo  2022-10-12
3590 2022-11-01                               Festivo   2022-11-1
3598 2022-11-09                               Festivo   2022-11-9
3625 2022-12-06                               Festivo   2022-12-6
3627 2022-12-08                               Festivo   2022-12-8
3645 2022-12-26                               Festivo  2022-12-26
3656 2023-01-06                               Festivo    2023-1-6
3729 2023-03-20                               Festivo   2023-3-20
3746 2023-04-06                               Festivo    2023-5-6
3747 2023-04-07                               Festivo    2023-5-7
3771 2023-05-01                               Festivo    2023-4-1
3772 2023-05-02                               Festivo    2023-4-2
3785 2023-05-15                               Festivo   2023-4-15
3877 2023-08-15                               Festivo   2023-8-15
3935 2023-10-12                               Festivo  2023-10-12
3955 2023-11-01                               Festivo   2023-11-1
3963 2023-11-09                               Festivo   2023-11-9
3990 2023-12-06                               Festivo   2023-12-6
3992 2023-12-08                               Festivo   2023-12-8
4009 2023-12-25                               Festivo  2023-12-25

In [100]:
Combinado=calidad_bueno.merge(Festivo, on='Fecha', how='left')

In [101]:
Combinado['laborable / festivo / domingo festivo']=Combinado['laborable / festivo / domingo festivo'].str.replace('festivo','Festivo').copy()

In [102]:
Combinado=Combinado.drop(["Dia"],axis=1).copy()

In [103]:
Combinado['laborable / festivo / domingo festivo']=Combinado['laborable / festivo / domingo festivo'].fillna("Laborable")

In [104]:
sept_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesSeptiembre2023 (1).csv",delimiter=";")
Agos_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAgosto2023.csv",delimiter=";")
julio_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJulio2023.csv",delimiter=";")
junio_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJunio2023.csv",delimiter=";")
mayo_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMayo2023.csv",delimiter=";")
abril_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAbril023.csv",delimiter=";")
marzo_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMarzo2023.csv",delimiter=";")
febrero_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesFebrero2023.csv",delimiter=";")
enero_2023=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesEnero2023.csv",delimiter=";")
enero_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesEnero2022.csv",delimiter=";")
febrero_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesFebrero2022.csv",delimiter=";")
marzo_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMarzo2022.csv",delimiter=";")
abril_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAbril2022.csv",delimiter=";")
mayo_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMayo2022.csv",delimiter=";")
junio_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJunio2022.csv",delimiter=";")
julio_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJulio2022.csv",delimiter=";")
agosto_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAgosto2022.csv",delimiter=";")
septiembre_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesSeptiembre2022.csv",delimiter=";")
octubre_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesOctubre2022.csv",delimiter=";")
noviembre_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesNoviembre2022.csv",delimiter=";")
diciembre_2022=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesDiciembre2022.csv",delimiter=";")
enero_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesEnero2021.csv",delimiter=";")
febrero_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesFebrero2021.csv",delimiter=";")
marzo_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMarzo2021.csv",delimiter=";")
abril_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAbril2021.csv",delimiter=";")
mayo_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesMayo2021.csv",delimiter=";")
junio_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJunio2021.csv",delimiter=";")
julio_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesJulio2021.csv",delimiter=";")
agosto_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesAGOSTO_2021.csv",delimiter=";")
septiembre_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesSEPTIEMBRE_2021.csv",delimiter=";")
octubre_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesOCTUBRE_2021.csv",delimiter=";")
noviembre_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesNOVIEMBRE_2021.csv",delimiter=";")
diciembre_2021=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TRAFICO/DatosEstacionesDICIEMBRE_2021.csv",delimiter=";")

In [105]:
trafico=pd.concat([sept_2023,Agos_2023,julio_2023,junio_2023,mayo_2023,abril_2023,marzo_2023,febrero_2023,enero_2023,enero_2022,febrero_2022,
                  marzo_2022,abril_2022,mayo_2022,junio_2022,julio_2022,agosto_2022,septiembre_2022,octubre_2022,noviembre_2022,diciembre_2022,
                  enero_2021,febrero_2021,marzo_2021,abril_2021,mayo_2021,junio_2021,julio_2021,agosto_2021,septiembre_2021,octubre_2021,
                  noviembre_2021,diciembre_2021])

In [106]:
#Filtramos por estacion 24 = casacampo
trafico=trafico[trafico['FEST']=="ES24"].copy()

In [107]:
trafico=trafico.drop(["FEST","Unnamed: 15","FSEN"],axis=1)

In [108]:
trafico.reset_index(drop=True, inplace=True)

In [109]:
trafico["Total"]=trafico["HOR1"]+trafico["HOR2"]+trafico["HOR3"]+trafico["HOR4"]+trafico["HOR5"]+trafico["HOR6"]+trafico["HOR7"]+trafico["HOR8"]+trafico["HOR9"]+trafico["HOR10"]+trafico["HOR11"]+trafico["HOR12"]

In [110]:
trafico=trafico.drop(["HOR1","HOR2","HOR3","HOR4","HOR5","HOR6","HOR7","HOR8","HOR9","HOR10","HOR11","HOR12"],axis=1)

In [111]:
trafico[trafico["FDIA"]=="01/01/2021"]

            FDIA   Total
2552  01/01/2021   938.0
2553  01/01/2021  2219.0
2554  01/01/2021   900.0
2555  01/01/2021  1836.0

In [112]:
trafico=trafico.groupby(['FDIA']).sum()

In [113]:
trafico["Fecha"]=trafico.index

In [114]:
trafico=trafico.reset_index()

In [115]:
trafico["Numero_Coches"]=trafico["Total"]

In [116]:
trafico=trafico.drop(["FDIA","Total"],axis=1)

In [117]:
trafico

           Fecha  Numero_Coches
0     01/01/2021         5893.0
1     01/01/2022        11657.0
2     01/01/2023        12402.0
3     01/02/2021        15477.0
4     01/02/2022        20561.0
...          ...            ...
998   31/08/2023        16158.0
999   31/10/2021        12912.0
1000  31/10/2022        18469.0
1001    31/12/21        29232.0
1002    31/12/22        13546.0

[1003 rows x 2 columns]

In [118]:
Combinado

      Grados Â°C      Fecha laborable / festivo / domingo festivo
0           3.0   2021-1-1                               Festivo
1           5.0   2021-2-1                             Laborable
2          24.0   2021-3-1                             Laborable
3           9.0   2021-4-1                               Festivo
4           7.0   2021-5-1                               Festivo
...         ...        ...                                   ...
1084       12.0  2023-5-31                             Laborable
1085        0.0  2023-6-31                             Laborable
1086       10.0  2023-7-31                             Laborable
1087       12.0  2023-8-31                             Laborable
1088        0.0  2023-9-31                             Laborable

[1089 rows x 3 columns]

In [119]:
trafico['Fecha']=trafico['Fecha'].str.replace('01','1')
trafico['Fecha']=trafico['Fecha'].str.replace('02','2')
trafico['Fecha']=trafico['Fecha'].str.replace('03','3')
trafico['Fecha']=trafico['Fecha'].str.replace('05','4')
trafico['Fecha']=trafico['Fecha'].str.replace('04','5')
trafico['Fecha']=trafico['Fecha'].str.replace('06','6')
trafico['Fecha']=trafico['Fecha'].str.replace('07','7')
trafico['Fecha']=trafico['Fecha'].str.replace('08','8')
trafico['Fecha']=trafico['Fecha'].str.replace('09','9')
trafico['Fecha']=trafico['Fecha'].str.replace('221','2021')
trafico['Fecha']=trafico['Fecha'].str.replace('222','2022')
trafico['Fecha']=trafico['Fecha'].str.replace('223','2023')
trafico['Fecha']=trafico['Fecha'].str.replace('222','2022')
trafico['Fecha']=trafico['Fecha'].str.replace('223','2023')

In [120]:
#error las fechas de diciembre de 2021 y 2022 no se indica de forma correcta para hacer join estÃ¡n en abreviaturas
trafico.Fecha.unique().tolist()

['1/1/2021',
 '1/1/2022',
 '1/1/2023',
 '1/2/2021',
 '1/2/2022',
 '1/2/2023',
 '1/3/2021',
 '1/3/2022',
 '1/3/2023',
 '1/5/2021',
 '1/5/2022',
 '1/5/2023',
 '1/4/2021',
 '1/4/2022',
 '1/4/2023',
 '1/6/2021',
 '1/6/2022',
 '1/6/2023',
 '1/7/2021',
 '1/7/2022',
 '1/7/2023',
 '1/8/2021',
 '1/8/2022',
 '1/8/2023',
 '1/9/2021',
 '1/9/2022',
 '1/9/2023',
 '1/10/2021',
 '1/10/2022',
 '1/11/2021',
 '1/11/2022',
 '1/12/21',
 '1/12/22',
 '2/1/2021',
 '2/1/2022',
 '2/1/2023',
 '2/2/2021',
 '2/2/2022',
 '2/2/2023',
 '2/3/2021',
 '2/3/2022',
 '2/3/2023',
 '2/5/2021',
 '2/5/2022',
 '2/5/2023',
 '2/4/2021',
 '2/4/2022',
 '2/4/2023',
 '2/6/2021',
 '2/6/2022',
 '2/6/2023',
 '2/7/2021',
 '2/7/2022',
 '2/7/2023',
 '2/8/2021',
 '2/8/2022',
 '2/8/2023',
 '2/9/2021',
 '2/9/2022',
 '2/9/2023',
 '2/10/2021',
 '2/10/2022',
 '2/11/2021',
 '2/11/2022',
 '2/12/21',
 '2/12/22',
 '3/1/2021',
 '3/1/2022',
 '3/1/2023',
 '3/2/2021',
 '3/2/2022',
 '3/2/2023',
 '3/3/2021',
 '3/3/2022',
 '3/3/2023',
 '3/5/2021',
 '3/5/2022',
 '3/5/2023',
 '3/4/2021',
 '3/4/2022',
 '3/4/2023',
 '3/6/2021',
 '3/6/2022',
 '3/6/2023',
 '3/7/2021',
 '3/7/2022',
 '3/7/2023',
 '3/8/2021',
 '3/8/2022',
 '3/8/2023',
 '3/9/2021',
 '3/9/2022',
 '3/9/2023',
 '3/10/2021',
 '3/10/2022',
 '3/11/2021',
 '3/11/2022',
 '3/12/21',
 '3/12/22',
 '5/1/2021',
 '5/1/2022',
 '5/1/2023',
 '5/2/2021',
 '5/2/2022',
 '5/2/2023',
 '5/3/2021',
 '5/3/2022',
 '5/3/2023',
 '5/5/2021',
 '5/5/2022',
 '5/5/2023',
 '5/4/2021',
 '5/4/2022',
 '5/4/2023',
 '5/6/2021',
 '5/6/2022',
 '5/6/2023',
 '5/7/2021',
 '5/7/2022',
 '5/7/2023',
 '5/8/2021',
 '5/8/2022',
 '5/8/2023',
 '5/9/2021',
 '5/9/2022',
 '5/9/2023',
 '5/10/2021',
 '5/10/2022',
 '5/11/2021',
 '5/11/2022',
 '5/12/21',
 '5/12/22',
 '4/1/2021',
 '4/1/2022',
 '4/1/2023',
 '4/2/2021',
 '4/2/2022',
 '4/2/2023',
 '4/3/2021',
 '4/3/2022',
 '4/3/2023',
 '4/5/2021',
 '4/5/2022',
 '4/5/2023',
 '4/4/2021',
 '4/4/2022',
 '4/4/2023',
 '4/6/2021',
 '4/6/2022',
 '4/6/2023',
 '4/7/2021',
 '4/7/2022',
 '4/7/2023',
 '4/8/2021',
 '4/8/2022',
 '4/8/2023',
 '4/9/2021',
 '4/9/2022',
 '4/9/2023',
 '4/10/2021',
 '4/10/2022',
 '4/11/2021',
 '4/11/2022',
 '4/12/21',
 '4/12/22',
 '6/1/2021',
 '6/1/2022',
 '6/1/2023',
 '6/2/2021',
 '6/2/2022',
 '6/2/2023',
 '6/3/2021',
 '6/3/2022',
 '6/3/2023',
 '6/5/2021',
 '6/5/2022',
 '6/5/2023',
 '6/4/2021',
 '6/4/2022',
 '6/4/2023',
 '6/6/2021',
 '6/6/2022',
 '6/6/2023',
 '6/7/2021',
 '6/7/2022',
 '6/7/2023',
 '6/8/2021',
 '6/8/2022',
 '6/8/2023',
 '6/9/2021',
 '6/9/2022',
 '6/9/2023',
 '6/10/2021',
 '6/10/2022',
 '6/11/2021',
 '6/11/2022',
 '6/12/21',
 '6/12/22',
 '7/1/2021',
 '7/1/2022',
 '7/1/2023',
 '7/2/2021',
 '7/2/2022',
 '7/2/2023',
 '7/3/2021',
 '7/3/2022',
 '7/3/2023',
 '7/5/2021',
 '7/5/2022',
 '7/5/2023',
 '7/4/2021',
 '7/4/2022',
 '7/4/2023',
 '7/6/2021',
 '7/6/2022',
 '7/6/2023',
 '7/7/2021',
 '7/7/2022',
 '7/7/2023',
 '7/8/2021',
 '7/8/2022',
 '7/8/2023',
 '7/9/2021',
 '7/9/2022',
 '7/9/2023',
 '7/10/2021',
 '7/10/2022',
 '7/11/2021',
 '7/11/2022',
 '7/12/21',
 '7/12/22',
 '8/1/2021',
 '8/1/2022',
 '8/1/2023',
 '8/2/2021',
 '8/2/2022',
 '8/2/2023',
 '8/3/2021',
 '8/3/2022',
 '8/3/2023',
 '8/5/2021',
 '8/5/2022',
 '8/5/2023',
 '8/4/2021',
 '8/4/2022',
 '8/4/2023',
 '8/6/2021',
 '8/6/2022',
 '8/6/2023',
 '8/7/2021',
 '8/7/2022',
 '8/7/2023',
 '8/8/2021',
 '8/8/2022',
 '8/8/2023',
 '8/9/2021',
 '8/9/2022',
 '8/9/2023',
 '8/10/2021',
 '8/10/2022',
 '8/11/2021',
 '8/11/2022',
 '8/12/21',
 '8/12/22',
 '9/1/2021',
 '9/1/2022',
 '9/1/2023',
 '9/2/2021',
 '9/2/2022',
 '9/2/2023',
 '9/3/2021',
 '9/3/2022',
 '9/3/2023',
 '9/5/2021',
 '9/5/2022',
 '9/5/2023',
 '9/4/2021',
 '9/4/2022',
 '9/4/2023',
 '9/6/2021',
 '9/6/2022',
 '9/6/2023',
 '9/7/2021',
 '9/7/2022',
 '9/7/2023',
 '9/8/2021',
 '9/8/2022',
 '9/8/2023',
 '9/9/2021',
 '9/9/2022',
 '9/9/2023',
 '9/10/2021',
 '9/10/2022',
 '9/11/2021',
 '9/11/2022',
 '9/12/21',
 '9/12/22',
 '10/1/2021',
 '10/1/2022',
 '10/1/2023',
 '10/2/2021',
 '10/2/2022',
 '10/2/2023',
 '10/3/2021',
 '10/3/2022',
 '10/3/2023',
 '10/5/2021',
 '10/5/2022',
 '10/5/2023',
 '10/4/2021',
 '10/4/2022',
 '10/4/2023',
 '10/6/2021',
 '10/6/2022',
 '10/6/2023',
 '10/7/2021',
 '10/7/2022',
 '10/7/2023',
 '10/8/2021',
 '10/8/2022',
 '10/8/2023',
 '10/9/2021',
 '10/9/2022',
 '10/9/2023',
 '10/10/2021',
 '10/10/2022',
 '10/11/2021',
 '10/11/2022',
 '10/12/21',
 '10/12/22',
 '11/1/2021',
 '11/1/2022',
 '11/1/2023',
 '11/2/2021',
 '11/2/2022',
 '11/2/2023',
 '11/3/2021',
 '11/3/2022',
 '11/3/2023',
 '11/5/2021',
 '11/5/2022',
 '11/5/2023',
 '11/4/2021',
 '11/4/2022',
 '11/4/2023',
 '11/6/2021',
 '11/6/2022',
 '11/6/2023',
 '11/7/2021',
 '11/7/2022',
 '11/7/2023',
 '11/8/2021',
 '11/8/2022',
 '11/8/2023',
 '11/9/2021',
 '11/9/2022',
 '11/9/2023',
 '11/10/2021',
 '11/10/2022',
 '11/11/2021',
 '11/11/2022',
 '11/12/21',
 '11/12/22',
 '12/1/2021',
 '12/1/2022',
 '12/1/2023',
 '12/2/2021',
 '12/2/2022',
 '12/2/2023',
 '12/3/2021',
 '12/3/2022',
 '12/3/2023',
 '12/5/2021',
 '12/5/2022',
 '12/5/2023',
 '12/4/2021',
 '12/4/2022',
 '12/4/2023',
 '12/6/2021',
 '12/6/2022',
 '12/6/2023',
 '12/7/2021',
 '12/7/2022',
 '12/7/2023',
 '12/8/2021',
 '12/8/2022',
 '12/8/2023',
 '12/9/2021',
 '12/9/2022',
 '12/9/2023',
 '12/10/2021',
 '12/10/2022',
 '12/11/2021',
 '12/11/2022',
 '12/12/21',
 '12/12/22',
 '13/1/2021',
 '13/1/2022',
 '13/1/2023',
 '13/2/2021',
 '13/2/2022',
 '13/2/2023',
 '13/3/2021',
 '13/3/2022',
 '13/3/2023',
 '13/5/2021',
 '13/5/2022',
 '13/5/2023',
 '13/4/2021',
 '13/4/2022',
 '13/4/2023',
 '13/6/2021',
 '13/6/2022',
 '13/6/2023',
 '13/7/2021',
 '13/7/2022',
 '13/7/2023',
 '13/8/2021',
 '13/8/2022',
 '13/8/2023',
 '13/9/2021',
 '13/9/2022',
 '13/9/2023',
 '13/10/2021',
 '13/10/2022',
 '13/11/2021',
 '13/11/2022',
 '13/12/21',
 '13/12/22',
 '14/1/2021',
 '14/1/2022',
 '14/1/2023',
 '14/2/2021',
 '14/2/2022',
 '14/2/2023',
 '14/3/2021',
 '14/3/2022',
 '14/3/2023',
 '14/5/2021',
 '14/5/2022',
 '14/5/2023',
 '14/4/2021',
 '14/4/2022',
 '14/4/2023',
 '14/6/2021',
 '14/6/2022',
 '14/6/2023',
 '14/7/2021',
 '14/7/2022',
 '14/7/2023',
 '14/8/2021',
 '14/8/2022',
 '14/8/2023',
 '14/9/2021',
 '14/9/2022',
 '14/9/2023',
 '14/10/2021',
 '14/10/2022',
 '14/11/2021',
 '14/11/2022',
 '14/12/21',
 '14/12/22',
 '15/1/2021',
 '15/1/2022',
 '15/1/2023',
 '15/2/2021',
 '15/2/2022',
 '15/2/2023',
 '15/3/2021',
 '15/3/2022',
 '15/3/2023',
 '15/5/2021',
 '15/5/2022',
 '15/5/2023',
 '15/4/2021',
 '15/4/2022',
 '15/4/2023',
 '15/6/2021',
 '15/6/2022',
 '15/6/2023',
 '15/7/2021',
 '15/7/2022',
 '15/7/2023',
 '15/8/2021',
 '15/8/2022',
 '15/8/2023',
 '15/9/2021',
 '15/9/2022',
 '15/9/2023',
 '15/10/2021',
 '15/10/2022',
 '15/11/2021',
 '15/11/2022',
 '15/12/21',
 '15/12/22',
 '16/1/2021',
 '16/1/2022',
 '16/1/2023',
 '16/2/2021',
 '16/2/2022',
 '16/2/2023',
 '16/3/2021',
 '16/3/2022',
 '16/3/2023',
 '16/5/2021',
 '16/5/2022',
 '16/5/2023',
 '16/4/2021',
 '16/4/2022',
 '16/4/2023',
 '16/6/2021',
 '16/6/2022',
 '16/6/2023',
 '16/7/2021',
 '16/7/2022',
 '16/7/2023',
 '16/8/2021',
 '16/8/2022',
 '16/8/2023',
 '16/9/2021',
 '16/9/2022',
 '16/9/2023',
 '16/10/2021',
 '16/10/2022',
 '16/11/2021',
 '16/11/2022',
 '16/12/21',
 '16/12/22',
 '17/1/2021',
 '17/1/2022',
 '17/1/2023',
 '17/2/2021',
 '17/2/2022',
 '17/2/2023',
 '17/3/2021',
 '17/3/2022',
 '17/3/2023',
 '17/5/2021',
 '17/5/2022',
 '17/5/2023',
 '17/4/2021',
 '17/4/2022',
 '17/4/2023',
 '17/6/2021',
 '17/6/2022',
 '17/6/2023',
 '17/7/2021',
 '17/7/2022',
 '17/7/2023',
 '17/8/2021',
 '17/8/2022',
 '17/8/2023',
 '17/9/2021',
 '17/9/2022',
 '17/9/2023',
 '17/10/2021',
 '17/10/2022',
 '17/11/2021',
 '17/11/2022',
 '17/12/21',
 '17/12/22',
 '18/1/2021',
 '18/1/2022',
 '18/1/2023',
 '18/2/2021',
 '18/2/2022',
 '18/2/2023',
 '18/3/2021',
 '18/3/2022',
 '18/3/2023',
 '18/5/2021',
 '18/5/2022',
 '18/5/2023',
 '18/4/2021',
 '18/4/2022',
 '18/4/2023',
 '18/6/2021',
 '18/6/2022',
 '18/6/2023',
 '18/7/2021',
 '18/7/2022',
 '18/7/2023',
 '18/8/2021',
 '18/8/2022',
 '18/8/2023',
 '18/9/2021',
 '18/9/2022',
 '18/9/2023',
 '18/10/2021',
 '18/10/2022',
 '18/11/2021',
 '18/11/2022',
 '18/12/21',
 '18/12/22',
 '19/1/2021',
 '19/1/2022',
 '19/1/2023',
 '19/2/2021',
 '19/2/2022',
 '19/2/2023',
 '19/3/2021',
 '19/3/2022',
 '19/3/2023',
 '19/5/2021',
 '19/5/2022',
 '19/5/2023',
 '19/4/2021',
 '19/4/2022',
 '19/4/2023',
 '19/6/2021',
 '19/6/2022',
 '19/6/2023',
 '19/7/2021',
 '19/7/2022',
 '19/7/2023',
 '19/8/2021',
 '19/8/2022',
 '19/8/2023',
 '19/9/2021',
 '19/9/2022',
 '19/9/2023',
 '19/10/2021',
 '19/10/2022',
 '19/11/2021',
 '19/11/2022',
 '19/12/21',
 '19/12/22',
 '20/1/2021',
 '20/1/2022',
 '20/1/2023',
 '20/2/2021',
 '20/2/2022',
 '20/2/2023',
 '20/3/2021',
 '20/3/2022',
 '20/3/2023',
 '20/5/2021',
 '20/5/2022',
 '20/5/2023',
 '20/4/2021',
 '20/4/2022',
 '20/4/2023',
 '20/6/2021',
 '20/6/2022',
 '20/6/2023',
 '20/7/2021',
 '20/7/2022',
 '20/7/2023',
 '20/8/2021',
 '20/8/2022',
 '20/8/2023',
 '20/9/2021',
 '20/9/2022',
 '20/9/2023',
 '20/10/2021',
 '20/10/2022',
 '20/11/2021',
 '20/11/2022',
 '20/12/21',
 '20/12/22',
 '21/1/2021',
 '21/1/2022',
 '21/1/2023',
 '21/2/2021',
 '21/2/2022',
 '21/2/2023',
 '21/3/2021',
 '21/3/2022',
 '21/3/2023',
 '21/5/2021',
 '21/5/2022',
 '21/5/2023',
 '21/4/2021',
 '21/4/2022',
 '21/4/2023',
 '21/6/2021',
 '21/6/2022',
 '21/6/2023',
 '21/7/2021',
 '21/7/2022',
 '21/7/2023',
 '21/8/2021',
 '21/8/2022',
 '21/8/2023',
 '21/9/2021',
 '21/9/2022',
 '21/9/2023',
 '21/10/2021',
 '21/10/2022',
 '21/11/2021',
 '21/11/2022',
 '21/12/21',
 '21/12/22',
 '22/1/2021',
 '22/1/2022',
 '22/1/2023',
 '22/2/2021',
 '22/2/2022',
 '22/2/2023',
 '22/3/2021',
 '22/3/2022',
 '22/3/2023',
 '22/5/2021',
 '22/5/2022',
 '22/5/2023',
 '22/4/2021',
 '22/4/2022',
 '22/4/2023',
 '22/6/2021',
 '22/6/2022',
 '22/6/2023',
 '22/7/2021',
 '22/7/2022',
 '22/7/2023',
 '22/8/2021',
 '22/8/2022',
 '22/8/2023',
 '22/9/2021',
 '22/9/2022',
 '22/9/2023',
 '22/10/2021',
 '22/10/2022',
 '22/11/2021',
 '22/11/2022',
 '22/12/21',
 '22/12/22',
 '23/1/2021',
 '23/1/2022',
 '23/1/2023',
 '23/2/2021',
 '23/2/2022',
 '23/2/2023',
 '23/3/2021',
 '23/3/2022',
 '23/3/2023',
 '23/5/2021',
 '23/5/2022',
 '23/5/2023',
 '23/4/2021',
 '23/4/2022',
 '23/4/2023',
 '23/6/2021',
 '23/6/2022',
 '23/6/2023',
 '23/7/2021',
 '23/7/2022',
 '23/7/2023',
 '23/8/2021',
 '23/8/2022',
 '23/8/2023',
 '23/9/2021',
 '23/9/2022',
 '23/9/2023',
 '23/10/2021',
 '23/10/2022',
 '23/11/2021',
 '23/11/2022',
 '23/12/21',
 '23/12/22',
 '24/1/2021',
 '24/1/2022',
 '24/1/2023',
 '24/2/2021',
 '24/2/2022',
 '24/2/2023',
 '24/3/2021',
 '24/3/2022',
 '24/3/2023',
 '24/5/2021',
 '24/5/2022',
 '24/5/2023',
 '24/4/2021',
 '24/4/2022',
 '24/4/2023',
 '24/6/2021',
 '24/6/2022',
 '24/6/2023',
 '24/7/2021',
 '24/7/2022',
 '24/7/2023',
 '24/8/2021',
 '24/8/2022',
 '24/8/2023',
 '24/9/2021',
 '24/9/2022',
 '24/9/2023',
 '24/10/2021',
 '24/10/2022',
 '24/11/2021',
 '24/11/2022',
 '24/12/21',
 '24/12/22',
 '25/1/2021',
 '25/1/2022',
 '25/1/2023',
 '25/2/2021',
 '25/2/2022',
 '25/2/2023',
 '25/3/2021',
 '25/3/2022',
 '25/3/2023',
 '25/5/2021',
 '25/5/2022',
 '25/5/2023',
 '25/4/2021',
 '25/4/2022',
 '25/4/2023',
 '25/6/2021',
 '25/6/2022',
 '25/6/2023',
 '25/7/2021',
 '25/7/2022',
 '25/7/2023',
 '25/8/2021',
 '25/8/2022',
 '25/8/2023',
 '25/9/2021',
 '25/9/2022',
 '25/9/2023',
 '25/10/2021',
 '25/10/2022',
 '25/11/2021',
 '25/11/2022',
 '25/12/21',
 '25/12/22',
 '26/1/2021',
 '26/1/2022',
 '26/1/2023',
 '26/2/2021',
 '26/2/2022',
 '26/2/2023',
 '26/3/2021',
 '26/3/2022',
 '26/3/2023',
 '26/5/2021',
 '26/5/2022',
 '26/5/2023',
 '26/4/2021',
 '26/4/2022',
 '26/4/2023',
 '26/6/2021',
 '26/6/2022',
 '26/6/2023',
 '26/7/2021',
 '26/7/2022',
 '26/7/2023',
 '26/8/2021',
 '26/8/2022',
 '26/8/2023',
 '26/9/2021',
 '26/9/2022',
 '26/9/2023',
 '26/10/2021',
 '26/10/2022',
 '26/11/2021',
 '26/11/2022',
 '26/12/21',
 '26/12/22',
 '27/1/2021',
 '27/1/2022',
 '27/1/2023',
 '27/2/2021',
 '27/2/2022',
 '27/2/2023',
 '27/3/2021',
 '27/3/2022',
 '27/3/2023',
 '27/5/2021',
 '27/5/2022',
 '27/5/2023',
 '27/4/2021',
 '27/4/2022',
 '27/4/2023',
 '27/6/2021',
 '27/6/2022',
 '27/6/2023',
 '27/7/2021',
 '27/7/2022',
 '27/7/2023',
 '27/8/2021',
 '27/8/2022',
 '27/8/2023',
 '27/9/2021',
 '27/9/2022',
 '27/9/2023',
 '27/10/2021',
 '27/10/2022',
 '27/11/2021',
 '27/11/2022',
 '27/12/21',
 '27/12/22',
 '28/1/2021',
 '28/1/2022',
 '28/1/2023',
 '28/2/2021',
 '28/2/2022',
 '28/2/2023',
 '28/3/2021',
 '28/3/2022',
 '28/3/2023',
 '28/5/2021',
 '28/5/2022',
 '28/5/2023',
 '28/4/2021',
 '28/4/2022',
 '28/4/2023',
 '28/6/2021',
 '28/6/2022',
 '28/6/2023',
 '28/7/2021',
 '28/7/2022',
 '28/7/2023',
 '28/8/2021',
 '28/8/2022',
 '28/8/2023',
 '28/9/2021',
 '28/9/2022',
 '28/9/2023',
 '28/10/2021',
 '28/10/2022',
 '28/11/2021',
 '28/11/2022',
 '28/12/21',
 '28/12/22',
 '29/1/2021',
 '29/1/2022',
 '29/1/2023',
 '29/3/2021',
 '29/3/2022',
 '29/3/2023',
 '29/5/2021',
 '29/5/2022',
 '29/5/2023',
 '29/4/2021',
 '29/4/2022',
 '29/4/2023',
 '29/6/2021',
 '29/6/2022',
 '29/6/2023',
 '29/7/2021',
 '29/7/2022',
 '29/7/2023',
 '29/8/2021',
 '29/8/2022',
 '29/8/2023',
 '29/9/2021',
 '29/9/2022',
 '29/9/2023',
 '29/10/2021',
 '29/10/2022',
 '29/11/2021',
 '29/11/2022',
 '29/12/21',
 '29/12/22',
 '30/1/2021',
 '30/1/2022',
 '30/1/2023',
 '30/3/2021',
 '30/3/2022',
 '30/3/2023',
 '30/5/2021',
 '30/5/2022',
 '30/5/2023',
 '30/4/2021',
 '30/4/2022',
 '30/4/2023',
 '30/6/2021',
 '30/6/2022',
 '30/6/2023',
 '30/7/2021',
 '30/7/2022',
 '30/7/2023',
 '30/8/2021',
 '30/8/2022',
 '30/8/2023',
 '30/9/2021',
 '30/9/2022',
 '30/9/2023',
 '30/10/2021',
 '30/10/2022',
 '30/11/2021',
 '30/11/2022',
 '30/12/21',
 '30/12/22',
 '31/1/2021',
 '31/1/2022',
 '31/1/2023',
 '31/3/2021',
 '31/3/2022',
 '31/3/2023',
 '31/4/2021',
 '31/4/2022',
 '31/4/2023',
 '31/7/2021',
 '31/7/2022',
 '31/7/2023',
 '31/8/2021',
 '31/8/2022',
 '31/8/2023',
 '31/10/2021',
 ...]

In [121]:
trafico['Fecha']=trafico['Fecha'].str.replace('/','-')

In [122]:
trafico['Fecha']=trafico['Fecha'].str.replace('1-12-21','1-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('2-12-21','2-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('3-12-21','3-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('4-12-21','4-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('5-12-21','5-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('6-12-21','6-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('7-12-21','7-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('8-12-21','8-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('9-12-21','9-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('10-12-21','10-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('11-12-21','11-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('12-12-21','12-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('13-12-21','13-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('14-12-21','14-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('15-12-21','15-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('16-12-21','16-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('17-12-21','17-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('18-12-21','18-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('19-12-21','19-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('20-12-21','20-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('21-12-21','21-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('22-12-21','22-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('23-12-21','23-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('24-12-21','24-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('25-12-21','25-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('26-12-21','26-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('27-12-21','27-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('28-12-21','28-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('29-12-21','29-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('30-12-21','30-12-2021')
trafico['Fecha']=trafico['Fecha'].str.replace('31-12-21','31-12-2021')

In [123]:
trafico['Fecha']=trafico['Fecha'].str.replace('1-12-22','1-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('2-12-22','2-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('3-12-22','3-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('4-12-22','4-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('5-12-22','5-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('6-12-22','6-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('7-12-22','7-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('8-12-22','8-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('9-12-22','9-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('10-12-22','10-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('11-12-22','11-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('12-12-22','12-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('13-12-22','13-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('14-12-22','14-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('15-12-22','15-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('16-12-22','16-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('17-12-22','17-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('18-12-22','18-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('19-12-22','19-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('20-12-22','20-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('21-12-22','21-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('22-12-22','22-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('23-12-22','23-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('24-12-22','24-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('25-12-22','25-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('26-12-22','26-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('27-12-22','27-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('28-12-22','28-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('29-12-22','29-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('30-12-22','30-12-2022')
trafico['Fecha']=trafico['Fecha'].str.replace('31-12-22','31-12-2022')

In [124]:
trafico['Fecha']=trafico['Fecha'].str.replace('/','-')

In [125]:
trafico

           Fecha  Numero_Coches
0       1-1-2021         5893.0
1       1-1-2022        11657.0
2       1-1-2023        12402.0
3       1-2-2021        15477.0
4       1-2-2022        20561.0
...          ...            ...
998    31-8-2023        16158.0
999   31-10-2021        12912.0
1000  31-10-2022        18469.0
1001  31-12-2021        29232.0
1002  31-12-2022        13546.0

[1003 rows x 2 columns]

In [126]:
from datetime import datetime

In [127]:
trafico=trafico.drop(trafico[trafico["Fecha"]=="31-4-2021"].index)
trafico=trafico.drop(trafico[trafico["Fecha"]=="31-4-2022"].index)
trafico=trafico.drop(trafico[trafico["Fecha"]=="31-4-2023"].index)

In [128]:
trafico["Fecha"]=pd.to_datetime(trafico['Fecha'],format=("%d-%m-%Y"))

In [129]:
trafico

          Fecha  Numero_Coches
0    2021-01-01         5893.0
1    2022-01-01        11657.0
2    2023-01-01        12402.0
3    2021-02-01        15477.0
4    2022-02-01        20561.0
...         ...            ...
998  2023-08-31        16158.0
999  2021-10-31        12912.0
1000 2022-10-31        18469.0
1001 2021-12-31        29232.0
1002 2022-12-31        13546.0

[1000 rows x 2 columns]

In [130]:
trafico

          Fecha  Numero_Coches
0    2021-01-01         5893.0
1    2022-01-01        11657.0
2    2023-01-01        12402.0
3    2021-02-01        15477.0
4    2022-02-01        20561.0
...         ...            ...
998  2023-08-31        16158.0
999  2021-10-31        12912.0
1000 2022-10-31        18469.0
1001 2021-12-31        29232.0
1002 2022-12-31        13546.0

[1000 rows x 2 columns]

In [131]:
Combinado["Fecha"]=pd.to_datetime(trafico['Fecha'],format=("%Y-%m-%d"))

In [132]:
Combinado[Combinado["Fecha"]=="NaT"]

Empty DataFrame
Columns: [Grados Â°C, Fecha, laborable / festivo / domingo festivo]
Index: []

In [133]:
Combinado=Combinado.dropna().copy()

In [134]:
Combinado

      Grados Â°C      Fecha laborable / festivo / domingo festivo
0           3.0 2021-01-01                               Festivo
1           5.0 2022-01-01                             Laborable
2          24.0 2023-01-01                             Laborable
3           9.0 2021-02-01                               Festivo
4           7.0 2022-02-01                               Festivo
...         ...        ...                                   ...
998        19.0 2023-08-31                             Laborable
999        21.0 2021-10-31                             Laborable
1000        8.0 2022-10-31                             Laborable
1001       28.0 2021-12-31                             Laborable
1002       38.0 2022-12-31                             Laborable

[1000 rows x 3 columns]

In [135]:
Combinado=pd.merge(Combinado, trafico, on=["Fecha"])

In [136]:
Combinado

     Grados Â°C      Fecha laborable / festivo / domingo festivo  Numero_Coches
0          3.0 2021-01-01                               Festivo         5893.0
1          5.0 2022-01-01                             Laborable        11657.0
2         24.0 2023-01-01                             Laborable        12402.0
3          9.0 2021-02-01                               Festivo        15477.0
4          7.0 2022-02-01                               Festivo        20561.0
..         ...        ...                                   ...            ...
995       19.0 2023-08-31                             Laborable        16158.0
996       21.0 2021-10-31                             Laborable        12912.0
997        8.0 2022-10-31                             Laborable        18469.0
998       28.0 2021-12-31                             Laborable        29232.0
999       38.0 2022-12-31                             Laborable        13546.0

[1000 rows x 4 columns]

In [137]:
calidad_21=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202112.csv",delimiter=";")
calidad_22=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202212.csv",delimiter=";")
calidad_23=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/CALIDADDELAIRE/datos202309.csv",delimiter=";")

In [138]:
Calidad=pd.concat([calidad_21,calidad_22,calidad_23], ignore_index=True)

In [139]:
Combinado["No2"]=Combinado["Grados Â°C"]

In [140]:
Combinado=Combinado.drop(["Grados Â°C"],axis=1)

In [141]:
Combinado

         Fecha laborable / festivo / domingo festivo  Numero_Coches   No2
0   2021-01-01                               Festivo         5893.0   3.0
1   2022-01-01                             Laborable        11657.0   5.0
2   2023-01-01                             Laborable        12402.0  24.0
3   2021-02-01                               Festivo        15477.0   9.0
4   2022-02-01                               Festivo        20561.0   7.0
..         ...                                   ...            ...   ...
995 2023-08-31                             Laborable        16158.0  19.0
996 2021-10-31                             Laborable        12912.0  21.0
997 2022-10-31                             Laborable        18469.0   8.0
998 2021-12-31                             Laborable        29232.0  28.0
999 2022-12-31                             Laborable        13546.0  38.0

[1000 rows x 4 columns]

In [142]:
temperatura_23=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TEMPERATURA/meteo23.csv",delimiter=";")
temperatura_22=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TEMPERATURA/meteo22.csv",delimiter=";")
temperatura_21=pd.read_csv("C:/Users/alumno/Downloads/DATOS_TRABAJO/TEMPERATURA/meteo21.csv",delimiter=";")

In [143]:
temperatura_23=temperatura_23[temperatura_23["ESTACION"]==24].copy()

In [144]:
temperatura_23=temperatura_23.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [145]:
temperatura_23=temperatura_23.drop(["ESTACION"],axis=1)

In [146]:
temperatura_23=temperatura_23[temperatura_23["MAGNITUD"]==83].copy()

In [147]:
temperatura_23.drop(["MAGNITUD"],axis=1)

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
590,2023,1,9.3,10.7,7.2,5.7,5.6,4.5,3.6,10.2,...,3.6,2.3,1.8,3.9,3.9,2.5,3.9,1.7,2.4,2.6
591,2023,2,4.1,5.9,5.9,6.6,7.1,4.7,4.8,6.0,...,9.8,6.2,3.4,3.1,4.1,2.6,2.1,0.0,0.0,0.0
592,2023,3,1.1,3.0,4.7,5.6,3.5,8.1,10.6,12.4,...,13.6,13.8,12.8,13.0,14.2,12.6,13.2,15.5,15.9,15.0
593,2023,4,13.7,11.7,11.6,13.0,13.0,15.2,15.8,16.2,...,15.3,16.3,18.8,21.0,21.4,22.1,22.8,21.5,19.6,0.0
594,2023,5,19.4,20.4,21.5,19.4,18.8,19.1,21.3,21.7,...,18.0,16.8,17.7,17.7,14.7,16.9,14.9,16.2,16.0,18.0
595,2023,6,17.4,17.3,18.2,20.0,20.2,22.0,18.0,17.8,...,22.2,25.9,27.6,29.2,29.7,29.2,28.8,27.0,22.9,0.0
596,2023,7,25.4,27.2,28.5,27.5,26.6,27.1,26.7,26.0,...,25.5,26.2,25.0,24.3,25.6,26.4,26.8,27.9,29.2,29.7
597,2023,8,29.4,28.4,26.0,26.0,24.2,27.3,27.3,29.4,...,31.9,31.8,30.7,30.8,26.6,20.0,20.7,22.1,21.8,23.4
598,2023,9,23.6,18.2,17.3,19.2,21.9,22.6,23.8,24.7,...,15.8,15.9,18.0,19.5,20.0,20.1,20.6,22.2,22.7,0.0
599,2023,10,22.6,21.8,21.2,21.7,21.8,22.4,21.7,21.0,...,11.5,11.7,10.6,13.9,15.1,11.7,13.4,14.0,11.9,9.3

In [148]:
temperatura_22=temperatura_22[temperatura_22["ESTACION"]==24].copy()

In [149]:
temperatura_22=temperatura_22.drop(["ESTACION"],axis=1)

In [150]:
temperatura_22=temperatura_22.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [151]:
temperatura_22=temperatura_22[temperatura_22["MAGNITUD"]==83].copy()

In [152]:
temperatura_22=temperatura_22.drop(["MAGNITUD"],axis=1)

In [153]:
temperatura_23

,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,D07,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
590,83,2023,1,9.3,10.7,7.2,5.7,5.6,4.5,3.6,...,3.6,2.3,1.8,3.9,3.9,2.5,3.9,1.7,2.4,2.6
591,83,2023,2,4.1,5.9,5.9,6.6,7.1,4.7,4.8,...,9.8,6.2,3.4,3.1,4.1,2.6,2.1,0.0,0.0,0.0
592,83,2023,3,1.1,3.0,4.7,5.6,3.5,8.1,10.6,...,13.6,13.8,12.8,13.0,14.2,12.6,13.2,15.5,15.9,15.0
593,83,2023,4,13.7,11.7,11.6,13.0,13.0,15.2,15.8,...,15.3,16.3,18.8,21.0,21.4,22.1,22.8,21.5,19.6,0.0
594,83,2023,5,19.4,20.4,21.5,19.4,18.8,19.1,21.3,...,18.0,16.8,17.7,17.7,14.7,16.9,14.9,16.2,16.0,18.0
595,83,2023,6,17.4,17.3,18.2,20.0,20.2,22.0,18.0,...,22.2,25.9,27.6,29.2,29.7,29.2,28.8,27.0,22.9,0.0
596,83,2023,7,25.4,27.2,28.5,27.5,26.6,27.1,26.7,...,25.5,26.2,25.0,24.3,25.6,26.4,26.8,27.9,29.2,29.7
597,83,2023,8,29.4,28.4,26.0,26.0,24.2,27.3,27.3,...,31.9,31.8,30.7,30.8,26.6,20.0,20.7,22.1,21.8,23.4
598,83,2023,9,23.6,18.2,17.3,19.2,21.9,22.6,23.8,...,15.8,15.9,18.0,19.5,20.0,20.1,20.6,22.2,22.7,0.0
599,83,2023,10,22.6,21.8,21.2,21.7,21.8,22.4,21.7,...,11.5,11.7,10.6,13.9,15.1,11.7,13.4,14.0,11.9,9.3

In [154]:
temperatura_21=temperatura_21[temperatura_21["ESTACION"]==24].copy()
temperatura_21=temperatura_21.drop(["ESTACION"],axis=1)

In [155]:
temperatura_21=temperatura_21.drop(["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO",'V01','V02','V03','V04','V05','V06','V07','V08','V09','V10','V11','V12','V13',
'V14',"V15",'V16','V17','V18','V19','V20','V21', 'V22','V23','V24', 'V25','V26','V27','V28','V29', 'V30', 'V31'],axis=1)

In [156]:
temperatura_21=temperatura_21[temperatura_21["MAGNITUD"]==83].copy()

In [157]:
temperatura_21=temperatura_21.drop(["MAGNITUD"],axis=1)

In [158]:
temperatura_21

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
645,2021,1,3.6,1.7,1.5,2.5,0.1,-0.3,0.3,-0.7,...,7.8,6.0,9.7,10.3,11.9,13.8,10.6,9.3,9.9,10.0
646,2021,2,11.3,9.8,10.0,10.7,11.6,8.7,6.9,7.1,...,7.8,7.1,8.7,10.1,10.7,11.6,9.1,0.0,0.0,0.0
647,2021,3,8.5,11.0,11.1,8.6,9.7,11.4,9.9,7.1,...,8.6,10.4,11.4,12.0,11.9,11.6,13.2,14.5,15.9,15.3
648,2021,4,16.3,12.9,12.5,13.2,14.3,14.2,12.9,12.6,...,12.4,13.3,12.4,10.7,13.6,13.7,13.4,12.6,11.3,0.0
649,2021,5,11.4,12.9,13.1,15.0,17.3,18.2,20.6,20.0,...,17.1,14.8,15.9,18.7,20.4,21.5,21.0,23.1,24.5,23.4
650,2021,6,19.4,19.7,22.5,22.4,18.5,21.2,24.6,26.0,...,17.0,15.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
651,2021,7,30.2,26.1,25.7,25.1,26.2,19.5,19.2,22.0,...,29.0,26.2,24.7,24.4,22.7,25.9,27.5,28.3,27.3,22.2
652,2021,8,20.4,22.8,24.3,26.0,27.3,26.4,23.4,23.4,...,27.2,29.2,26.2,25.0,26.2,24.7,25.7,24.7,24.4,24.9
653,2021,9,19.4,19.0,21.5,23.0,24.3,25.4,25.8,22.1,...,16.6,19.0,18.5,17.5,17.7,18.5,18.2,19.9,19.2,0.0
654,2021,10,18.1,18.0,15.4,13.1,16.3,18.3,16.7,17.3,...,14.6,12.8,11.5,12.1,14.3,12.6,12.2,13.2,15.2,15.7
655,2021,11,14.3,9.6,8.6,7.3,6.9,7.1,6.1,9.1,...,6.3,4.6,3.9,6.2,5.3,5.4,5.2,9.6,6.1,0.0
656,2021,12,4.3,6.6,7.4,7.1,8.3,9.2,6.8,7.0,...,9.9,8.3,10.3,8.9,9.1,11.7,10.5,8.7,8.1,8.3

In [159]:
temperatura=pd.concat([temperatura_21,temperatura_22,temperatura_23], ignore_index=True)

In [160]:
temperatura=temperatura.drop(["MAGNITUD"],axis=1)

In [161]:
temperatura1=temperatura.copy()
temperatura1["dia"]=1
temperatura1["valor"]=temperatura1["D01"]

In [162]:
temperatura2=temperatura.copy()
temperatura2["dia"]=2
temperatura2["valor"]=temperatura["D02"]

In [163]:
temperatura3=temperatura.copy()
temperatura3["dia"]=3
temperatura3["valor"]=temperatura["D03"]

In [164]:
temperatura4=temperatura.copy()
temperatura4["dia"]=4
temperatura4["valor"]=temperatura4["D04"]

In [165]:
temperatura5=temperatura.copy()
temperatura5["dia"]=5
temperatura5["valor"]=temperatura5["D05"]

In [166]:
temperatura6=temperatura.copy()
temperatura6["dia"]=6
temperatura6["valor"]=temperatura["D06"]

In [167]:
temperatura7=temperatura.copy()
temperatura7["dia"]=7
temperatura7["valor"]=temperatura7["D07"]

In [168]:
temperatura8=temperatura.copy()
temperatura8["dia"]=8
temperatura8["valor"]=temperatura8["D08"]

In [169]:
temperatura9=temperatura.copy()
temperatura9["dia"]=9
temperatura9["valor"]=temperatura9["D09"]

In [170]:
temperatura10=temperatura.copy()
temperatura10["dia"]=10
temperatura10["valor"]=temperatura10["D10"]

temperatura11=temperatura.copy()
temperatura11["valor"]=temperatura["D11"]
temperatura11["dia"]=11

temperatura12=temperatura.copy()
temperatura12["valor"]=temperatura11["D12"]
temperatura12["dia"]=12

temperatura13=temperatura.copy()
temperatura13["valor"]=temperatura["D13"]
temperatura13["dia"]=13

temperatura14=temperatura.copy()
temperatura14["valor"]=temperatura["D14"]
temperatura14["dia"]=14

temperatura15=temperatura.copy()
temperatura15["valor"]=temperatura["D15"]
temperatura15["dia"]=15

temperatura16=temperatura.copy()
temperatura16["valor"]=temperatura["D16"]
temperatura16["dia"]=16

In [171]:
temperatura17=temperatura.copy()
temperatura17["dia"]=17
temperatura17["valor"]=temperatura["D17"]

temperatura18=temperatura.copy()
temperatura18["dia"]=18
temperatura18["valor"]=temperatura["D18"]

temperatura19=temperatura.copy()
temperatura19["dia"]=19
temperatura19["valor"]=temperatura["D19"]

temperatura20=temperatura.copy()
temperatura20["dia"]=20
temperatura20["valor"]=temperatura["D20"]

temperatura21=temperatura.copy()
temperatura21["dia"]=21
temperatura21["valor"]=temperatura["D21"]

temperatura22=temperatura.copy()
temperatura22["dia"]=22
temperatura22["valor"]=temperatura["D22"]

temperatura23=temperatura.copy()
temperatura23["dia"]=23
temperatura23["valor"]=temperatura["D23"]

temperatura24=temperatura.copy()
temperatura24["dia"]=24
temperatura24["valor"]=temperatura["D24"]

temperatura25=temperatura.copy()
temperatura25["dia"]=25
temperatura25["valor"]=temperatura["D25"]

temperatura26=temperatura.copy()
temperatura26["dia"]=26
temperatura26["valor"]=temperatura["D26"]

temperatura27=temperatura.copy()
temperatura27["dia"]=27
temperatura27["valor"]=temperatura["D27"]

temperatura28=temperatura.copy()
temperatura28["dia"]=28
temperatura28["valor"]=temperatura["D28"]

temperatura29=temperatura.copy()
temperatura29["dia"]=29
temperatura29["valor"]=temperatura["D29"]

temperatura30=temperatura.copy()
temperatura30["dia"]=30
temperatura30["valor"]=temperatura["D30"]

temperatura31=temperatura.copy()
temperatura31["dia"]=31
temperatura31["valor"]=temperatura31["D31"]

In [172]:
temperatura=pd.concat([temperatura1,
                       temperatura2,temperatura3,temperatura4,temperatura5,temperatura6,temperatura7,temperatura8,
                       temperatura9,temperatura10,temperatura11,temperatura12,temperatura13,temperatura14,temperatura15,temperatura16,
                       temperatura17,temperatura18,temperatura19,temperatura20,temperatura21,temperatura22,temperatura23,temperatura24,
                       temperatura25,temperatura26,temperatura27,temperatura28,temperatura29,temperatura30,temperatura31])

In [173]:
temperatura

,ANO,MES,D01,D02,D03,D04,D05,D06,D07,D08,...,D24,D25,D26,D27,D28,D29,D30,D31,dia,valor
0,2021,1,3.6,1.7,1.5,2.5,0.1,-0.3,0.3,-0.7,...,9.7,10.3,11.9,13.8,10.6,9.3,9.9,10.0,1,3.6
1,2021,2,11.3,9.8,10.0,10.7,11.6,8.7,6.9,7.1,...,8.7,10.1,10.7,11.6,9.1,0.0,0.0,0.0,1,11.3
2,2021,3,8.5,11.0,11.1,8.6,9.7,11.4,9.9,7.1,...,11.4,12.0,11.9,11.6,13.2,14.5,15.9,15.3,1,8.5
3,2021,4,16.3,12.9,12.5,13.2,14.3,14.2,12.9,12.6,...,12.4,10.7,13.6,13.7,13.4,12.6,11.3,0.0,1,16.3
4,2021,5,11.4,12.9,13.1,15.0,17.3,18.2,20.6,20.0,...,15.9,18.7,20.4,21.5,21.0,23.1,24.5,23.4,1,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2023,6,17.4,17.3,18.2,20.0,20.2,22.0,18.0,17.8,...,27.6,29.2,29.7,29.2,28.8,27.0,22.9,0.0,31,0.0
30,2023,7,25.4,27.2,28.5,27.5,26.6,27.1,26.7,26.0,...,25.0,24.3,25.6,26.4,26.8,27.9,29.2,29.7,31,29.7
31,2023,8,29.4,28.4,26.0,26.0,24.2,27.3,27.3,29.4,...,30.7,30.8,26.6,20.0,20.7,22.1,21.8,23.4,31,23.4
32,2023,9,23.6,18.2,17.3,19.2,21.9,22.6,23.8,24.7,...,18.0,19.5,20.0,20.1,20.6,22.2,22.7,0.0,31,0.0
33,2023,10,22.6,21.8,21.2,21.7,21.8,22.4,21.7,21.0,...,10.6,13.9,15.1,11.7,13.4,14.0,11.9,9.3,31,9.3

In [174]:
temperatura.drop(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18',
       'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28',
       'D29', 'D30', 'D31'],axis=1,inplace=True)

In [175]:
temperatura.columns = temperatura.columns.str.replace('valor', 'Grados Â°C')

In [176]:
temperatura

     ANO  MES  dia  Grados Â°C
0   2021    1    1        3.6
1   2021    2    1       11.3
2   2021    3    1        8.5
3   2021    4    1       16.3
4   2021    5    1       11.4
..   ...  ...  ...        ...
29  2023    6   31        0.0
30  2023    7   31       29.7
31  2023    8   31       23.4
32  2023    9   31        0.0
33  2023   10   31        9.3

[1054 rows x 4 columns]

In [177]:
temperatura.columns = temperatura.columns.str.replace('dia', 'DIA')

In [178]:
temperatura["ANO"]=temperatura["ANO"].astype(str)
temperatura["MES"]=temperatura["MES"].astype(str)
temperatura["DIA"]=temperatura["DIA"].astype(str)

In [179]:
temperatura["Fecha"]=temperatura["ANO"]+"-"+temperatura["MES"]+"-"+temperatura["DIA"]

In [180]:
temperatura=temperatura.drop(["ANO","MES","DIA"],axis=1)

In [181]:
temperatura=temperatura[temperatura["Grados Â°C"]!=0]

In [182]:
temperatura

    Grados Â°C       Fecha
0         3.6    2021-1-1
1        11.3    2021-2-1
2         8.5    2021-3-1
3        16.3    2021-4-1
4        11.4    2021-5-1
..        ...         ...
26       15.0   2023-3-31
28       18.0   2023-5-31
30       29.7   2023-7-31
31       23.4   2023-8-31
33        9.3  2023-10-31

[1024 rows x 2 columns]

In [183]:
temperatura["Fecha"]=pd.to_datetime(temperatura['Fecha'],format=("%Y-%m-%d"))

In [184]:
Combinado=pd.DataFrame.merge(Combinado,temperatura,on="Fecha",how="left")

In [185]:
Combinado.rename(columns={'laborable / festivo / domingo festivo': 'Laborable/Festivo'}, inplace=True)

In [186]:
Combinado=Combinado.dropna()

In [187]:
Combinado["Mes"]=Combinado["Fecha"].dt.strftime('%m')
Combinado["AÃ±o"]=Combinado["Fecha"].dt.strftime('%Y')
Combinado["Dia"]=Combinado["Fecha"].dt.strftime('%d')

In [188]:
Combinado=Combinado.drop(["Fecha"],axis=1)

In [189]:
y=Combinado["No2"]

In [190]:
y

0       3.0
1       5.0
2      24.0
3       9.0
4       7.0
       ...
995    19.0
996    21.0
997     8.0
998    28.0
999    38.0
Name: No2, Length: 990, dtype: float64

In [191]:
x=Combinado.drop(["No2"],axis=1)

In [192]:
x=pd.get_dummies(x,columns=["Laborable/Festivo"],dtype=int)

In [193]:
import numpy as np
from sklearn.model_selection import train_test_split

In [194]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=123)

In [195]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [196]:
model=LinearRegression()

In [197]:
model.fit(x_train,y_train)

LinearRegression()

In [198]:
x_predict=model.predict(x_test)

In [199]:
y_test

747    12.0
533    13.0
902    11.0
354    20.0
686    20.0
       ...
525    13.0
813    12.0
119     6.0
845    12.0
675     5.0
Name: No2, Length: 327, dtype: float64

In [205]:
Prediccion= pd.DataFrame(x_predict)

In [207]:
Real=pd.DataFrame(y_test)

In [209]:
Prediccion

             0
0    17.939200
1    15.705707
2    14.095429
3    18.491234
4     7.560138
..         ...
322  13.825201
323  17.417032
324  15.604861
325  14.470661
326  16.450180

[327 rows x 1 columns]

In [208]:
Real

      No2
747  12.0
533  13.0
902  11.0
354  20.0
686  20.0
..    ...
525  13.0
813  12.0
119   6.0
845  12.0
675   5.0

[327 rows x 1 columns]

In [211]:
from sklearn.metrics import mean_absolute_error as mae

In [212]:
MAE=mae(Real,Prediccion)

In [213]:
MAE

7.792109542646287

In [214]:
Combinado["No2"].mean()

16.33939393939394

In [215]:
Combinado

    Laborable/Festivo  Numero_Coches   No2  Grados Â°C Mes   AÃ±o Dia
0             Festivo         5893.0   3.0        3.6  01  2021  01
1           Laborable        11657.0   5.0        8.2  01  2022  01
2           Laborable        12402.0  24.0        9.3  01  2023  01
3             Festivo        15477.0   9.0       11.3  02  2021  01
4             Festivo        20561.0   7.0       10.5  02  2022  01
..                ...            ...   ...        ...  ..   ...  ..
995         Laborable        16158.0  19.0       23.4  08  2023  31
996         Laborable        12912.0  21.0       15.7  10  2021  31
997         Laborable        18469.0   8.0       12.9  10  2022  31
998         Laborable        29232.0  28.0        8.3  12  2021  31
999         Laborable        13546.0  38.0        8.1  12  2022  31

[990 rows x 7 columns]

In [230]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import recall_score

In [217]:
model2=DecisionTreeRegressor()

In [235]:
max_reg = None
max_score = 0  
best_max_depth = None
t=()
for m in range(1, 20) :
    rf_reg = DecisionTreeRegressor(max_depth=m)
    rf_reg = rf_reg.fit(x_train, y_train) 
    rf_reg_score = rf_reg.score(x_test,y_test)
    print (m, rf_reg_score ,max_score) 
    if rf_reg_score > max_score :
        max_score = rf_reg_score
        max_reg = rf_reg
        
        best_max_depth = rf_reg.max_depth
        
        t = (m,max_score) 
print (t)

1 -0.0016616987518440762 0
2 0.03715406558596046 0
3 0.0343961839993977 0.03715406558596046
4 0.16895740740286325 0.03715406558596046
5 0.18742444311285889 0.16895740740286325
6 0.058963638701461374 0.18742444311285889
7 -0.06124953008999312 0.18742444311285889
8 -0.13874847441655946 0.18742444311285889
9 -0.21429588536074573 0.18742444311285889
10 -0.1129509310325012 0.18742444311285889
11 -0.3739480086028275 0.18742444311285889
12 -0.1757994414866031 0.18742444311285889
13 -0.33731779148041885 0.18742444311285889
14 -0.34492526421838576 0.18742444311285889
15 -0.41629709806086623 0.18742444311285889
16 -0.321796727721523 0.18742444311285889
17 -0.43332050944796663 0.18742444311285889
18 -0.43433832753412704 0.18742444311285889
19 -0.4119463296385961 0.18742444311285889
(5, 0.18742444311285889)

In [ ]:
model2=DecisionTreeRegressor()

In [218]:
model2.fit(x_train,y_train)

DecisionTreeRegressor()

In [220]:
prediccion_2=model2.predict(x_test)

In [221]:
Mae_2=mae(Real,prediccion_2)

In [222]:
Mae_2

7.792048929663609